Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

First pass on intro docs Properly include main related part when building body Do not close IO on finalize
  docs/README.md
  src/components/mime/docs/README.md
  src/components/mime/spec/part/multipart/related_spec.cr
  src/components/mime/src/address.cr
  src/components/mime/src/header/collection.cr
  src/components/mime/src/part/abstract_multipart.cr
  src/components/mime/src/part/text.cr
Due: none

Start on doc pass
  src/components/mime/src/address.cr
Due: none

Add `!` suffix to `#ensure_validity` More docs
  src/components/mime/spec/draft_email_spec.cr
  src/components/mime/spec/email_spec.cr
  src/components/mime/spec/message_spec.cr
  src/components/mime/src/athena-mime.cr
  src/components/mime/src/draft_email.cr
  src/components/mime/src/email.cr
  src/components/mime/src/message.cr
Due: none

Include spec code in coverage reporting Allow generation of unreachable code locally Fix gaps in `clock` coverage
  scripts/test.sh
  src/components/clock/spec/aware_spec.cr
  src/components/clock/src/aware.cr
Due: clock

Improve `console` specs by adding coverage to previously unreachable lines
  scripts/test.sh
  src/components/console/spec/application_spec.cr
  src/components/console/spec/command_tester_spec.cr
  src/components/console/spec/commands/list_spec.cr
  src/components/console/spec/completion/input_spec.cr
  src/components/console/spec/cursor_spec.cr
  src/components/console/spec/formatter/null_spec.cr
  src/components/console/spec/formatter/null_style_spec.cr
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/console/spec/helper/progress_indicator_spec.cr
  src/components/console/spec/helper/table_spec.cr
  src/components/console/spec/helper/table_style_spec.cr
  src/components/console/spec/input/value/array_spec.cr
  src/components/console/spec/output/console_section_output_spec.cr
  src/components/console/spec/output/io_spec.cr
  src/components/console/spec/output/null_spec.cr
  src/components/console/spec/output/output_spec.cr
  src/components/console/spec/question/choice_spec.cr
  src/components/console/spec/question/question_spec.cr
  src/components/console/spec/style/athena_style_spec.cr
  src/components/console/src/completion/input.cr
  src/components/console/src/formatter/null.cr
  src/components/console/src/helper/table_style.cr
  src/components/console/src/input/value/array.cr
  src/components/console/src/input/value/value.cr
  src/components/console/src/spec.cr
  src/components/console/src/style/athena.cr
Due: console

Add specs for `AED::GenericEvent`
  src/components/event_dispatcher/spec/generic_event_spec.cr
Due: event_dispatcher

Improve `framework` specs by adding coverage to previously unreachable lines
  src/components/framework/spec/binary_file_response_spec.cr
  src/components/framework/spec/controller_spec.cr
  src/components/framework/spec/controllers/routing_controller.cr
  src/components/framework/spec/exception/bad_gateway_spec.cr
  src/components/framework/spec/exception/http_exception_spec.cr
  src/components/framework/spec/listeners/view_spec.cr
  src/components/framework/spec/request_spec.cr
  src/components/framework/spec/routing_spec.cr
  src/components/framework/spec/spec/expectations/response/cookie_value_equals_spec.cr
  src/components/framework/spec/spec/expectations/response/format_equals_spec.cr
  src/components/framework/spec/spec/expectations/response/has_cookie_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/spec/streamed_response_spec.cr
  src/components/framework/spec/view/view_spec.cr
  src/components/framework/src/binary_file_response.cr
  src/components/framework/src/controller.cr
  src/components/framework/src/spec/api_test_case.cr
Due: framework

Improve `image_size` specs by adding coverage to previously unreachable lines
  src/components/image_size/spec/athena-image_size_spec.cr
Due: image_size

Improve `mercure` specs by adding coverage to previously unreachable lines
  src/components/mercure/spec/hub/hub_spec.cr
Due: mercure

Improve `negotiation` specs by adding coverage to previously unreachable lines
  src/components/negotiation/spec/accept_language_spec.cr
Due: negotiation

Improve `routing` specs by adding coverage to previously unreachable lines
  src/components/routing/spec/generator/url_generator_spec.cr
  src/components/routing/spec/matcher/abstract_url_matcher_test_case.cr
  src/components/routing/spec/request_context_spec.cr
  src/components/routing/spec/route_collection_spec.cr
  src/components/routing/spec/router_spec.cr
  src/components/routing/spec/spec_helper.cr
  src/components/routing/src/request_context.cr
Due: routing

Improve `validator` specs by adding coverage to previously unreachable lines
  src/components/validator/spec/constraints/greater_than_or_equal_validator_spec.cr
  src/components/validator/spec/constraints/isbn_validator_spec.cr
  src/components/validator/spec/constraints/negative_or_zero_validator_spec.cr
  src/components/validator/spec/constraints/negative_validator_spec.cr
  src/components/validator/spec/constraints/positive_or_zero_validator_spec.cr
  src/components/validator/spec/constraints/range_validator_spec.cr
  src/components/validator/spec/positive_validator_spec.cr
  src/components/validator/src/constraints/abstract_comparison_validator.cr
Due: validator

Fix typo
  src/components/console/spec/formatter/null_style_spec.cr
Due: console

Fix ameba issues
  src/components/console/spec/command_tester_spec.cr
  src/components/console/spec/helper/progress_indicator_spec.cr
  src/components/console/spec/style/athena_style_spec.cr
  src/components/routing/src/request_context.cr
Due: console, routing

Fix few remaining additional gaps
  src/components/console/spec/question/choice_spec.cr
  src/components/console/spec/question/question_spec.cr
  src/components/console/spec/style/athena_style_spec.cr
  src/components/console/src/style/athena.cr
Due: console

Clear `coverage/` dir for each component when running specs again
  scripts/test.sh
Due: none

Final cleanup
  scripts/test.sh
  src/components/console/spec/command_tester_spec.cr
Due: console

Fill in some missing spec holes
  src/components/mime/spec/encoder/base64_content_spec.cr
  src/components/mime/spec/encoder/eight_bit_content_spec.cr
  src/components/mime/spec/encoder/quoted_printable_content_spec.cr
  src/components/mime/spec/header/collection_spec.cr
  src/components/mime/spec/header/unstructured_spec.cr
  src/components/mime/spec/part/file_spec.cr
  src/components/mime/src/part/file.cr
Due: none

Doc pass
  src/components/mime/spec/header/unstructured_spec.cr
  src/components/mime/src/athena-mime.cr
  src/components/mime/src/draft_email.cr
  src/components/mime/src/email.cr
  src/components/mime/src/encoder/address_encoder_interface.cr
  src/components/mime/src/encoder/base64_content.cr
  src/components/mime/src/encoder/content_encoder_interface.cr
  src/components/mime/src/encoder/eight_bit_content.cr
  src/components/mime/src/encoder/encoder_interface.cr
  src/components/mime/src/encoder/idn_address.cr
  src/components/mime/src/encoder/mime_header_encoder_interface.cr
  src/components/mime/src/encoder/quoted_printable_content.cr
  src/components/mime/src/encoder/quoted_printable_mime_header.cr
  src/components/mime/src/encoder/rfc2231.cr
  src/components/mime/src/exception/header_not_found.cr
  src/components/mime/src/exception/logic.cr
  src/components/mime/src/header/abstract.cr
  src/components/mime/src/header/collection.cr
  src/components/mime/src/header/date.cr
  src/components/mime/src/header/identification.cr
  src/components/mime/src/header/interface.cr
  src/components/mime/src/header/mailbox.cr
  src/components/mime/src/header/mailbox_list.cr
  src/components/mime/src/header/parameterized.cr
  src/components/mime/src/header/path.cr
  src/components/mime/src/header/unstructured.cr
  src/components/mime/src/message.cr
  src/components/mime/src/message_converter.cr
  src/components/mime/src/part/abstract.cr
  src/components/mime/src/part/abstract_multipart.cr
  src/components/mime/src/part/data.cr
  src/components/mime/src/part/file.cr
  src/components/mime/src/part/message.cr
  src/components/mime/src/part/multipart/alternative.cr
  src/components/mime/src/part/multipart/digest.cr
  src/components/mime/src/part/multipart/form.cr
  src/components/mime/src/part/multipart/mixed.cr
  src/components/mime/src/part/multipart/related.cr
  src/components/mime/src/part/text.cr
Due: none

Fix typos and lint issues
  .typos.toml
  src/components/mime/spec/address_spec.cr
  src/components/mime/spec/email_spec.cr
  src/components/mime/spec/encoder/quoted_printable_mime_header_spec.cr
  src/components/mime/spec/header/collection_spec.cr
  src/components/mime/spec/header/mailbox_list_spec.cr
  src/components/mime/spec/header/mailbox_spec.cr
  src/components/mime/spec/header/parameterized_spec.cr
  src/components/mime/spec/header/unstructured_spec.cr
  src/components/mime/spec/message_spec.cr
  src/components/mime/spec/part/multipart/form_spec.cr
  src/components/mime/src/address.cr
  src/components/mime/src/email.cr
  src/components/mime/src/encoder/quoted_printable_content.cr
  src/components/mime/src/header/collection.cr
  src/components/mime/src/header/identification.cr
  src/components/mime/src/header/parameterized.cr
  src/components/mime/src/message.cr
  src/components/mime/src/part/multipart/form.cr
Due: none

First pass on `justfile`
  justfile
  requirements.txt
Due: none

Add check tasks Start on revamping test tasks
  justfile
  requirements.txt
Due: none

Add test tasks to justfile
  Makefile
  justfile
Due: none

Update CI jobs to use `just`
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  justfile
Due: none

Ensure `validator` specs require `spec_helper`
  src/components/validator/spec/constraints/composite_spec.cr
  src/components/validator/spec/constraints/negative_or_zero_validator_spec.cr
  src/components/validator/spec/constraints/negative_validator_spec.cr
  src/components/validator/spec/constraints/positive_or_zero_validator_spec.cr
Due: validator

Move `Positive` spec into `constraints/` dir
  src/components/validator/spec/positive_validator_spec.cr
Due: validator

Actually add the file
  src/components/validator/spec/constraints/positive_validator_spec.cr
Due: validator

Ensure `AVD::Constraint` specs require `spec_helper` (athena-framework/athena#500)
  src/components/validator/spec/constraints/composite_spec.cr
  src/components/validator/spec/constraints/negative_or_zero_validator_spec.cr
  src/components/validator/spec/constraints/negative_validator_spec.cr
  src/components/validator/spec/constraints/positive_or_zero_validator_spec.cr
  src/components/validator/spec/constraints/positive_validator_spec.cr
Due: validator

Revamp local dev contributing docs Add `install` recipe Fix `watch` recipe for `framework` component
  CONTRIBUTING.md
  justfile
Due: none

Move `setup-just` to after the conditional `checkout` actions
  .github/workflows/ci.yml
Due: none

Echo `CRYSTAL_PATH` for debugging
  justfile
Due: none

More debugging output
  justfile
Due: none

Try `invocation_directory_native` instead
  justfile
Due: none

Try `join`
  justfile
Due: none

Try `/`
  justfile
Due: none

See if this works
  justfile
Due: none

Use proper path seperators
  justfile
Due: none

Cleanup
  justfile
Due: none

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
