Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Update spec : `escapes < within the block`
  src/components/console/spec/helper/formatter_spec.cr
Due: console

Fix incorrectly aligned block
  src/components/console/src/helper/formatter.cr
Due: console

Replace `#gsub` with `#delete` for simplicity
  src/components/console/src/helper/formatter.cr
Due: console

Fix incorrectly aligned block (athena-framework/athena#519)
  src/components/console/spec/helper/formatter_spec.cr
  src/components/console/src/helper/formatter.cr
Due: console

Prevent auto registering of already registered services (athena-framework/athena#520)
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/framework/src/view/view_handler.cr
Due: dependency_injection, framework

Fix typo in Assert::Blank constraint.
  src/components/validator/src/constraints/blank.cr
Due: validator

Fix typo in Assert::ISSN constraint.
  src/components/validator/src/constraints/issn.cr
Due: validator

Fix typo in `Assert::Blank` and `Assert::ISSN` constraints (athena-framework/athena#521)
  src/components/validator/src/constraints/blank.cr
  src/components/validator/src/constraints/issn.cr
Due: validator

Ensure `master` branch is checked out in `diff.sh`
  scripts/diff.sh
Due: none

Rename `rebuildDocs` function
  scripts/release.sh
Due: none

Script Improvements (#522)
  scripts/diff.sh
  scripts/release.sh
Due: none

Bump `console` component
  src/components/console/CHANGELOG.md
  src/components/console/shard.yml
  src/components/console/src/athena-console.cr
Due: console

Bump `dependency_injection` component
  src/components/dependency_injection/CHANGELOG.md
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/src/athena-dependency_injection.cr
Due: dependency_injection

Bump `framework` component
  src/components/framework/CHANGELOG.md
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
Due: framework

Bump `serializer` component
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
Due: serializer

Bump `spec` component
  src/components/spec/CHANGELOG.md
  src/components/spec/UPGRADING.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Due: spec

Release time! (athena-framework/athena#523)
  src/components/console/CHANGELOG.md
  src/components/console/shard.yml
  src/components/console/src/athena-console.cr
  src/components/dependency_injection/CHANGELOG.md
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/framework/CHANGELOG.md
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
  src/components/spec/CHANGELOG.md
  src/components/spec/UPGRADING.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Due: console, dependency_injection, framework, serializer, spec

Fix `framework` changelog entry
  src/components/framework/CHANGELOG.md
Due: framework

Fix `framework` changelog entry (athena-framework/athena#524)
  src/components/framework/CHANGELOG.md
Due: framework

Correctly apply `emit_nil` value from `ATHA::View`
  src/components/framework/spec/listeners/view_spec.cr
  src/components/framework/src/listeners/view.cr
Due: framework

Correctly apply `emit_nil` value from `ATHA::View` (athena-framework/athena#526)
  src/components/framework/spec/listeners/view_spec.cr
  src/components/framework/src/listeners/view.cr
Due: framework

Make `ATH::Controller.render` specs more robust by ignoring trailing newlines
  src/components/framework/spec/controller_spec.cr
Due: framework

Make `ATH::Controller.render` specs more robust by ignoring trailing newlines (athena-framework/athena#528)
  src/components/framework/spec/controller_spec.cr
Due: framework

Scaffold initial implementation
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/request.cr
  src/components/framework/src/uploaded_file.cr
Due: framework

First pass integration into validator component
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/uploaded_file.cr
  src/components/validator/src/constraints/file.cr
Due: framework, validator

Scaffold new mime guessing logic
  athena-mime
  src/components/mime/shard.yml
  src/components/mime/src/athena-mime.cr
  src/components/mime/src/magic_types_guesser.cr
  src/components/mime/src/types.cr
  src/components/mime/src/types/data.cr
  src/components/mime/src/types_guesser_interface.cr
  src/components/mime/src/types_interface.cr
Due: none

Test coverage
  src/components/mime/spec/abstract_types_guesser_test_case.cr
  src/components/mime/spec/fixtures/test.docx
  src/components/mime/spec/magic_types_guesser_spec.cr
  src/components/mime/spec/types_spec.cr
  src/components/mime/src/magic_types_guesser.cr
  src/components/mime/src/types.cr
Due: none

Doc pass
  src/components/mime/docs/README.md
  src/components/mime/src/part/file.cr
  src/components/mime/src/types.cr
  src/components/mime/src/types_guesser_interface.cr
  src/components/mime/src/types_interface.cr
Due: none

Fix CI
  .github/workflows/ci.yml
Due: none

Also try installing `pkg-config`
  .github/workflows/ci.yml
Due: none

Specify pkg-config name
  .github/workflows/ci.yml
  src/components/mime/src/magic_types_guesser.cr
Due: none

Install dev `libmagic` package on ubuntu
  .github/workflows/ci.yml
  athena-mime
Due: none

Adding missing require
  src/components/mime/spec/abstract_types_guesser_test_case.cr
Due: none

Add additional spec
  src/components/mime/spec/types_spec.cr
Due: none

Bump version
  src/components/mime/CHANGELOG.md
  src/components/mime/docs/README.md
  src/components/mime/shard.yml
  src/components/mime/src/athena-mime.cr
Due: none

Add UPGRADING notes fix typo
  src/components/mime/CHANGELOG.md
  src/components/mime/UPGRADING.md
  src/components/mime/spec/abstract_types_guesser_test_case.cr
  src/components/mime/spec/types_spec.cr
Due: none

fixup! Add UPGRADING notes fix typo
  src/components/mime/spec/magic_types_guesser_spec.cr
Due: none

Add `AMIME::Types` (athena-framework/athena#534)
  .github/workflows/ci.yml
  src/components/mime/CHANGELOG.md
  src/components/mime/UPGRADING.md
  src/components/mime/docs/README.md
  src/components/mime/shard.yml
  src/components/mime/spec/abstract_types_guesser_test_case.cr
  src/components/mime/spec/fixtures/test.docx
  src/components/mime/spec/magic_types_guesser_spec.cr
  src/components/mime/spec/types_spec.cr
  src/components/mime/src/athena-mime.cr
  src/components/mime/src/magic_types_guesser.cr
  src/components/mime/src/part/file.cr
  src/components/mime/src/types.cr
  src/components/mime/src/types/data.cr
  src/components/mime/src/types_guesser_interface.cr
  src/components/mime/src/types_interface.cr
Due: none

Allow customizing the finished state of an `ACON::Helper::ProgressIndicator
  src/components/console/spec/helper/progress_indicator_spec.cr
  src/components/console/src/helper/progress_indicator.cr
Due: console

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
