Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Exclude `_action` route parameter from `Matched route ...` log message
  .changes/unreleased/http-kernel-Changed-20261010-002127.yaml
  src/components/http_kernel/src/listeners/routing.cr
Due: none

Exclude `_action` route parameter from `Matched route ...` log message (athena-framework/athena#745)
  .changes/unreleased/http-kernel-Changed-20261010-002127.yaml
  src/components/http_kernel/src/listeners/routing.cr
Due: none

Make `ASPEC::TestCase` initialization more robust
  .changes/unreleased/spec-Fixed-20261010-092252.yaml
  .changes/unreleased/spec-Fixed-20261010-092404.yaml
  src/components/spec/spec/athena-spec_spec.cr
  src/components/spec/src/test_case.cr
Due: spec

Make `ASPEC::TestCase` initialization more robust (athena-framework/athena#746)
  .changes/unreleased/spec-Fixed-20261010-092252.yaml
  .changes/unreleased/spec-Fixed-20261010-092404.yaml
  src/components/spec/spec/athena-spec_spec.cr
  src/components/spec/src/test_case.cr
Due: spec

Refactor framework component provided test cases for better container support
  .changes/unreleased/contracts-Added-20261010-094552.yaml
  .changes/unreleased/framework-Added-20261010-094621.yaml
  .changes/unreleased/framework-Changed-20261010-094649.yaml
  docs/getting_started/testing.md
  src/components/contracts/src/contracts/service/closeable.cr
  src/components/contracts/src/contracts/service/resettable.cr
  src/components/framework/spec/services_closer_spec.cr
  src/components/framework/spec/services_resetter_spec.cr
  src/components/framework/spec/spec/container_test_case_spec.cr
  src/components/framework/spec/spec/http_browser_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/services_resetter.cr
  src/components/framework/src/spec/api_test_case.cr
  src/components/framework/src/spec/container_test_case.cr
  src/components/framework/src/spec/http_browser.cr
  src/components/framework/src/spec/web_test_case.cr
Due: framework
