Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Handle both latest and nightly
  src/components/console/spec/helper/progress_bar_spec.cr
Due: console

Fixup more failures
  src/components/http/spec/uploaded_file_spec.cr
  src/components/mercure/spec/authorization_spec.cr
Due: mercure

fixup! Fixup more failures
  src/components/mercure/spec/authorization_spec.cr
Due: mercure

Fix nightly CI (athena-framework/athena#725)
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/http/spec/uploaded_file_spec.cr
  src/components/http/src/athena-http.cr
  src/components/mercure/spec/authorization_spec.cr
  src/components/mercure/src/athena-mercure.cr
  src/components/routing/src/routing_handler.cr
Due: console, mercure, routing

Exit with failure when a console exception has no positive code
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Ignore a non-integer SHELL_VERBOSITY instead of raising
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Add changelog entry
  .changes/unreleased/console-Fixed-20261003-120100.yaml
Due: none

Add changelog entry
  .changes/unreleased/console-Fixed-20261003-120000.yaml
Due: none

Bump GHAs Create 1 PR for all GHAs every month instead of 1 per provider
  .github/dependabot.yml
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/ci.yml
  .github/workflows/tag_and_create_release.yml
Due: none

GHA Updates (#732)
  .github/dependabot.yml
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/ci.yml
  .github/workflows/tag_and_create_release.yml
Due: none

Bump `python` deps
  pyproject.toml
  uv.lock
Due: none

Update `uv` and Python deps (#733)
  pyproject.toml
  uv.lock
Due: none

Exit with failure when a console exception has no positive code (athena-framework/athena#726)
  .changes/unreleased/console-Fixed-20261003-120000.yaml
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Ignore a non-integer `SHELL_VERBOSITY` instead of raising (athena-framework/athena#727)
  .changes/unreleased/console-Fixed-20261003-120100.yaml
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Raise an error if a command receives more arguments than it expects
  .changes/unreleased/console-Changed-20261003-231251.yaml
  src/components/console/spec/input/argv_spec.cr
  src/components/console/src/exception/unexpected_argument.cr
  src/components/console/src/input/argv.cr
Due: console

Raise an error if a command receives more arguments than it expects (athena-framework/athena#734)
  .changes/unreleased/console-Changed-20261003-231251.yaml
  src/components/console/spec/input/argv_spec.cr
  src/components/console/src/exception/unexpected_argument.cr
  src/components/console/src/input/argv.cr
Due: console

Improved sub-command support
  .changes/unreleased/console-Added-20261004-104823.yaml
  src/components/console/docs/README.md
  src/components/console/spec/application_command_tree_spec.cr
  src/components/console/spec/application_spec.cr
  src/components/console/spec/command_chain_spec.cr
  src/components/console/spec/command_spec.cr
  src/components/console/spec/input/argv_spec.cr
  src/components/console/spec/input/definition_spec.cr
  src/components/console/src/application.cr
  src/components/console/src/athena-console.cr
  src/components/console/src/command.cr
  src/components/console/src/command_chain.cr
  src/components/console/src/commands/complete.cr
  src/components/console/src/commands/group.cr
  src/components/console/src/commands/help.cr
  src/components/console/src/descriptor/text.cr
  src/components/console/src/input/argv.cr
  src/components/console/src/input/definition.cr
  src/components/console/src/spec.cr
Due: console

Fix input forwarding for `PROGRAM_NAME` based commands
  .changes/unreleased/console-Fixed-20261004-110126.yaml
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Fix input forwarding for `PROGRAM_NAME` based commands (athena-framework/athena#736)
  .changes/unreleased/console-Fixed-20261004-110126.yaml
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Improved sub-command support (athena-framework/athena#735)
  .changes/unreleased/console-Added-20261004-104823.yaml
  src/components/console/docs/README.md
  src/components/console/spec/application_command_tree_spec.cr
  src/components/console/spec/application_spec.cr
  src/components/console/spec/command_chain_spec.cr
  src/components/console/spec/command_spec.cr
  src/components/console/spec/input/argv_spec.cr
  src/components/console/spec/input/definition_spec.cr
  src/components/console/src/application.cr
  src/components/console/src/athena-console.cr
  src/components/console/src/command.cr
  src/components/console/src/command_chain.cr
  src/components/console/src/commands/complete.cr
  src/components/console/src/commands/group.cr
  src/components/console/src/commands/help.cr
  src/components/console/src/descriptor/text.cr
  src/components/console/src/input/argv.cr
  src/components/console/src/input/definition.cr
  src/components/console/src/spec.cr
Due: console

Improve compile time perf for larger projects
  .changes/unreleased/http-kernel-Changed-20261004-210127.yaml
  .changes/unreleased/validator-Changed-20261004-210105.yaml
  src/components/http_kernel/spec/action_spec.cr
  src/components/http_kernel/src/action.cr
  src/components/http_kernel/src/http_kernel.cr
  src/components/validator/src/execution_context.cr
  src/components/validator/src/execution_context_interface.cr
  src/components/validator/src/spec/validator_test_case.cr
  src/components/validator/src/validator/recursive_contextual_validator.cr
Due: validator

Improve compile time perf for larger projects (athena-framework/athena#738)
  .changes/unreleased/http-kernel-Changed-20261004-210127.yaml
  .changes/unreleased/validator-Changed-20261004-210105.yaml
  src/components/http_kernel/spec/action_spec.cr
  src/components/http_kernel/src/action.cr
  src/components/http_kernel/src/http_kernel.cr
  src/components/validator/src/execution_context.cr
  src/components/validator/src/execution_context_interface.cr
  src/components/validator/src/spec/validator_test_case.cr
  src/components/validator/src/validator/recursive_contextual_validator.cr
Due: validator

Integrate component
  .changie.yaml
  .github/workflows/sync.yml
  codecov.yml
  docs/README.md
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/components/orm/examples/demo.cr
Due: none

Fix lint issues
  src/components/orm/spec/entity_manager_spec.cr
  src/components/orm/spec/mapping/class_spec.cr
  src/components/orm/spec/persisters/entity/basic_spec.cr
  src/components/orm/spec/platforms/postgres_spec.cr
  src/components/orm/spec/proxy_spec.cr
  src/components/orm/spec/types/boolean_spec.cr
  src/components/orm/spec/unit_of_work_spec.cr
  src/components/orm/src/entity_manager.cr
  src/components/orm/src/entity_repository.cr
  src/components/orm/src/internal/hydrators/object.cr
  src/components/orm/src/internal/topological_sort.cr
  src/components/orm/src/mapping/class.cr
  src/components/orm/src/mapping/to_one_owning_side.cr
  src/components/orm/src/persisters/entity/basic.cr
  src/components/orm/src/proxy.cr
  src/components/orm/src/unit_of_work.cr
Due: none

Install `sqlite3` dev dep
  shard.yml
Due: none

Refactor to avoid needing the extra dep Add to `compiled` spec group
  shard.yml
  src/components/orm/spec/mapping/driver/annotation_driver_compile_error_spec.cr
Due: none

Install libmagic on Blacksmith macOS runners
  .github/workflows/ci.yml
Due: none

Update matrix.os conditions for Blacksmith labels
  .github/workflows/ci.yml
Due: none

Install `mold` linker
  .github/workflows/ci.yml
Due: none

fixup! Install `mold` linker
  .github/workflows/ci.yml
Due: none

Integrates ORM component into monorepo (athena-framework/athena#741)
  .changie.yaml
  .github/workflows/ci.yml
  .github/workflows/sync.yml
  codecov.yml
  docs/README.md
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/components/orm/examples/demo.cr
  src/components/orm/spec/entity_manager_spec.cr
  src/components/orm/spec/mapping/class_spec.cr
  src/components/orm/spec/mapping/driver/annotation_driver_compile_error_spec.cr
  src/components/orm/spec/persisters/entity/basic_spec.cr
  src/components/orm/spec/platforms/postgres_spec.cr
  src/components/orm/spec/proxy_spec.cr
  src/components/orm/spec/types/boolean_spec.cr
  src/components/orm/spec/unit_of_work_spec.cr
  src/components/orm/src/entity_manager.cr
  src/components/orm/src/entity_repository.cr
  src/components/orm/src/internal/hydrators/object.cr
  src/components/orm/src/internal/topological_sort.cr
  src/components/orm/src/mapping/class.cr
  src/components/orm/src/mapping/to_one_owning_side.cr
  src/components/orm/src/persisters/entity/basic.cr
  src/components/orm/src/proxy.cr
  src/components/orm/src/unit_of_work.cr
Due: none

Fix horizontal table top border is incorrectly rendered
  .changes/unreleased/console-Fixed-20261008-232344.yaml
  src/components/console/spec/helper/table_spec.cr
  src/components/console/src/helper/table.cr
Due: console

Fix table borders around colspan cells and header-less tables
  .changes/unreleased/console-Fixed-20261008-233020.yaml
  src/components/console/spec/fixtures/helper/table/box_header_spanning_all_columns.txt
  src/components/console/spec/fixtures/helper/table/box_headerless.txt
  src/components/console/spec/fixtures/helper/table/box_trailing_separator.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_colspan.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_alignment.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_custom_format.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_fgbg.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_line_breaks.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_no_separators.txt
  src/components/console/spec/fixtures/helper/table/default_colspan_and_table_cell_with_comment_style.txt
  src/components/console/spec/fixtures/helper/table/default_formatted_row_with_line_breaks.txt
  src/components/console/spec/fixtures/helper/table/default_line_break_after_colspan_cell.txt
  src/components/console/spec/fixtures/helper/table/default_line_breaks_after_colspan_cell.txt
  src/components/console/spec/fixtures/helper/table/default_multiple_header_lines.txt
  src/components/console/spec/fixtures/helper/table/default_row_with_multiple_cells.txt
  src/components/console/spec/fixtures/helper/table/double_box_colspans.txt
  src/components/console/spec/helper/table_spec.cr
  src/components/console/src/helper/table.cr
Due: console

Console table border fixes (athena-framework/athena#743)
  .changes/unreleased/console-Fixed-20261008-232344.yaml
  .changes/unreleased/console-Fixed-20261008-233020.yaml
  src/components/console/spec/fixtures/helper/table/box_header_spanning_all_columns.txt
  src/components/console/spec/fixtures/helper/table/box_headerless.txt
  src/components/console/spec/fixtures/helper/table/box_trailing_separator.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_colspan.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_alignment.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_custom_format.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_fgbg.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_line_breaks.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_no_separators.txt
  src/components/console/spec/fixtures/helper/table/default_colspan_and_table_cell_with_comment_style.txt
  src/components/console/spec/fixtures/helper/table/default_formatted_row_with_line_breaks.txt
  src/components/console/spec/fixtures/helper/table/default_line_break_after_colspan_cell.txt
  src/components/console/spec/fixtures/helper/table/default_line_breaks_after_colspan_cell.txt
  src/components/console/spec/fixtures/helper/table/default_multiple_header_lines.txt
  src/components/console/spec/fixtures/helper/table/default_row_with_multiple_cells.txt
  src/components/console/spec/fixtures/helper/table/double_box_colspans.txt
  src/components/console/spec/helper/table_spec.cr
  src/components/console/src/helper/table.cr
Due: console

Integrate the ORM component into the framework
  src/components/framework/mkdocs.yml
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/controllers/orm_controller.cr
  src/components/framework/spec/ext/orm/orm_controller_spec.cr
  src/components/framework/spec/ext/orm/registry_spec.cr
  src/components/framework/spec/services_closer_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/closeable.cr
  src/components/framework/src/ext/orm.cr
  src/components/framework/src/ext/orm/registry.cr
  src/components/framework/src/services_closer.cr
  src/components/framework/src/spec/http_browser.cr
  src/components/orm/docs/README.md
Due: framework

Move ORM bundle to `orm` component
  src/components/contracts/src/athena-contracts.cr
  src/components/contracts/src/contracts/service/closeable.cr
  src/components/contracts/src/service.cr
  src/components/framework/mkdocs.yml
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/controllers/orm_controller.cr
  src/components/framework/spec/ext/orm/orm_controller_spec.cr
  src/components/framework/spec/ext/orm/registry_spec.cr
  src/components/framework/spec/services_closer_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/closeable.cr
  src/components/framework/src/ext/orm.cr
  src/components/framework/src/ext/orm/registry.cr
  src/components/framework/src/services_closer.cr
  src/components/orm/docs/README.md
  src/components/orm/mkdocs.yml
  src/components/orm/spec/bundle/bundle_spec.cr
  src/components/orm/spec/bundle/registry_spec.cr
  src/components/orm/spec/bundle/spec_helper.cr
  src/components/orm/src/bundle.cr
  src/components/orm/src/bundle/bundle.cr
  src/components/orm/src/bundle/registry.cr
Due: framework

Add changelog files
  .changes/unreleased/contracts-Added-20261009-233055.yaml
  .changes/unreleased/framework-Added-20261009-233133.yaml
Due: none

Add the ORM Bundle to integrate the component into the framework (athena-framework/athena#744)
  .changes/unreleased/contracts-Added-20261009-233055.yaml
  .changes/unreleased/framework-Added-20261009-233133.yaml
  src/components/contracts/src/athena-contracts.cr
  src/components/contracts/src/contracts/service/closeable.cr
  src/components/contracts/src/service.cr
  src/components/framework/spec/services_closer_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/services_closer.cr
  src/components/framework/src/spec/http_browser.cr
  src/components/orm/docs/README.md
  src/components/orm/mkdocs.yml
  src/components/orm/spec/bundle/bundle_spec.cr
  src/components/orm/spec/bundle/registry_spec.cr
  src/components/orm/spec/bundle/spec_helper.cr
  src/components/orm/src/bundle.cr
  src/components/orm/src/bundle/bundle.cr
  src/components/orm/src/bundle/registry.cr
Due: framework
