Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Remove `ASR::PropertyMetadata#class` method and generic variable (athena-framework/athena#672)
  .changes/unreleased/serializer-Removed-20260131-133726.yaml
  src/components/serializer/spec/athena-serializer_spec.cr
  src/components/serializer/spec/navigators/serialization_navigator_spec.cr
  src/components/serializer/spec/spec_helper.cr
  src/components/serializer/src/property_metadata.cr
  src/components/serializer/src/serializable.cr
Due: serializer

Bump Python deps and min `uv` required version Remove dependency on `mkdocs-autorefs` to make things simpler
  pyproject.toml
  src/components/clock/docs/README.md
  src/components/console/docs/README.md
  src/components/console/src/application.cr
  src/components/console/src/completion/input.cr
  src/components/contracts/docs/README.md
  src/components/contracts/src/contracts/event_dispatcher/interface.cr
  src/components/dependency_injection/docs/README.md
  src/components/dotenv/docs/README.md
  src/components/event_dispatcher/docs/README.md
  src/components/http/src/abstract_file.cr
  src/components/http/src/file.cr
  src/components/http/src/request_matcher.cr
  src/components/http_kernel/docs/README.md
  src/components/image_size/docs/README.md
  src/components/mercure/docs/README.md
  src/components/mercure/src/athena-mercure.cr
  src/components/mercure/src/hub/hub.cr
  src/components/mercure/src/hub/interface.cr
  src/components/mercure/src/hub/registry.cr
  src/components/mercure/src/spec.cr
  src/components/mercure/src/token_provider/factory.cr
  src/components/mime/docs/README.md
  src/components/negotiation/docs/README.md
  src/components/routing/docs/README.md
  src/components/routing/src/route.cr
  src/components/serializer/docs/README.md
  src/components/spec/docs/README.md
  src/components/validator/docs/README.md
  uv.lock
Due: clock, console, dependency_injection, dotenv, event_dispatcher, image_size, mercure, negotiation, routing, serializer, spec, validator

Ignore some `typos` errors
  src/components/mime/spec/encoder/base64_content_spec.cr
Due: none

Bump `setup-uv` and `typos` GHAs
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/ci.yml
Due: none

Dep updates (athena-framework/athena#677)
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/ci.yml
  pyproject.toml
  src/components/clock/docs/README.md
  src/components/console/docs/README.md
  src/components/console/src/application.cr
  src/components/console/src/completion/input.cr
  src/components/contracts/docs/README.md
  src/components/contracts/src/contracts/event_dispatcher/interface.cr
  src/components/dependency_injection/docs/README.md
  src/components/dotenv/docs/README.md
  src/components/event_dispatcher/docs/README.md
  src/components/http/src/abstract_file.cr
  src/components/http/src/file.cr
  src/components/http/src/request_matcher.cr
  src/components/http_kernel/docs/README.md
  src/components/image_size/docs/README.md
  src/components/mercure/docs/README.md
  src/components/mercure/src/athena-mercure.cr
  src/components/mercure/src/hub/hub.cr
  src/components/mercure/src/hub/interface.cr
  src/components/mercure/src/hub/registry.cr
  src/components/mercure/src/spec.cr
  src/components/mercure/src/token_provider/factory.cr
  src/components/mime/docs/README.md
  src/components/mime/spec/encoder/base64_content_spec.cr
  src/components/negotiation/docs/README.md
  src/components/routing/docs/README.md
  src/components/routing/src/route.cr
  src/components/serializer/docs/README.md
  src/components/spec/docs/README.md
  src/components/validator/docs/README.md
  uv.lock
Due: clock, console, dependency_injection, dotenv, event_dispatcher, image_size, mercure, negotiation, routing, serializer, spec, validator

Create bundle to integrate `mercure` component into the rest of the framework
  .gitignore
  docs/bundle_reference.md
  justfile
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/bundles/mercure/shard.yml
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/components/http_kernel/shard.yml
  src/components/mercure-bundle/README.md
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure-bundle/shard.yml
  src/components/mercure-bundle/src
  src/components/mercure/spec/authorization_spec.cr
  src/components/mercure/spec/discovery_spec.cr
  src/components/mercure/spec/hub/hub_spec.cr
  src/components/mercure/src/authorization.cr
  src/components/mercure/src/discovery.cr
  src/components/mercure/src/hub/hub.cr
Due: mercure

Fix compile time error when inadvertently using a type name that conflicts with an internal component type
  .changes/unreleased/dependency-injection-Fixed-20260221-115645.yaml
  .changes/unreleased/framework-Fixed-20260221-115645.yaml
  .changes/unreleased/spec-Fixed-20260221-115645.yaml
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/inline_service_definitions.cr
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/src/athena-spec.cr
Due: dependency_injection, framework, spec

Fix compile time error when inadvertently using a type name that conflicts with an internal component type (athena-framework/athena#678)
  .changes/unreleased/dependency-injection-Fixed-20260221-115645.yaml
  .changes/unreleased/framework-Fixed-20260221-115645.yaml
  .changes/unreleased/spec-Fixed-20260221-115645.yaml
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/inline_service_definitions.cr
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/src/athena-spec.cr
Due: dependency_injection, framework, spec

Squashed 'src/bundles/mercure/' content from commit e5d48e06
  .editorconfig
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/README.md
  mkdocs.yml
  shard.yml
  spec/spec_helper.cr
  src/athena-BUNDLE_NAME_bundle.cr
Due: none

Add missing `crystal_docs_flags` entries and simplify cross-component type links
  gen_doc_stubs.py
  src/components/console/mkdocs.yml
  src/components/event_dispatcher/mkdocs.yml
  src/components/event_dispatcher/src/annotations.cr
  src/components/event_dispatcher/src/callable.cr
  src/components/event_dispatcher/src/event.cr
  src/components/event_dispatcher/src/event_dispatcher_interface.cr
  src/components/framework/mkdocs.yml
  src/components/framework/src/annotation_resolver.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/controller.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/uuid.cr
  src/components/framework/src/listeners/view.cr
  src/components/framework/src/spec/expectations/http.cr
  src/components/framework/src/view/format_handler_interface.cr
  src/components/framework/src/view/view.cr
  src/components/framework/src/view/view_handler_interface.cr
  src/components/http/mkdocs.yml
  src/components/http/src/abstract_file.cr
  src/components/http_kernel/mkdocs.yml
  src/components/http_kernel/src/athena-http_kernel.cr
  src/components/http_kernel/src/controller/value_resolvers/interface.cr
  src/components/http_kernel/src/controller/value_resolvers/request.cr
  src/components/http_kernel/src/error_renderer_interface.cr
  src/components/http_kernel/src/events/settable_response.cr
  src/components/http_kernel/src/events/view_event.cr
  src/components/http_kernel/src/http_kernel.cr
  src/components/http_kernel/src/listeners/error.cr
  src/components/serializer/mkdocs.yml
  src/components/validator/mkdocs.yml
Due: console, event_dispatcher, framework, serializer, validator

fixup! Add missing `crystal_docs_flags` entries and simplify cross-component type links
  src/components/framework/mkdocs.yml
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Scaffold out `mercure` bundle
  .changie.yaml
  .gitignore
  codecov.yml
  docs/bundle_reference.md
  justfile
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/bundles/mercure/CHANGELOG.md
  src/bundles/mercure/LICENSE
  src/bundles/mercure/README.md
  src/bundles/mercure/mkdocs.yml
  src/bundles/mercure/shard.yml
  src/bundles/mercure/spec/spec_helper.cr
  src/bundles/mercure/src/athena-BUNDLE_NAME_bundle.cr
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/components/http_kernel/shard.yml
  src/components/mercure-bundle/README.md
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure-bundle/shard.yml
  src/components/mercure-bundle/src
Due: none

Scaffold out `mercure` bundle (athena-framework/athena#683)
  .changie.yaml
  .gitignore
  codecov.yml
  docs/bundle_reference.md
  justfile
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/bundles/mercure/CHANGELOG.md
  src/bundles/mercure/LICENSE
  src/bundles/mercure/README.md
  src/bundles/mercure/mkdocs.yml
  src/bundles/mercure/shard.yml
  src/bundles/mercure/spec/spec_helper.cr
  src/bundles/mercure/src/athena-BUNDLE_NAME_bundle.cr
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/components/http_kernel/shard.yml
  src/components/mercure-bundle/README.md
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure-bundle/shard.yml
  src/components/mercure-bundle/src
Due: none

Add missing `crystal_docs_flags` entries and simplify cross-component type links (athena-framework/athena#682)
  gen_doc_stubs.py
  src/components/console/mkdocs.yml
  src/components/event_dispatcher/mkdocs.yml
  src/components/event_dispatcher/src/annotations.cr
  src/components/event_dispatcher/src/callable.cr
  src/components/event_dispatcher/src/event.cr
  src/components/event_dispatcher/src/event_dispatcher_interface.cr
  src/components/framework/mkdocs.yml
  src/components/framework/src/annotation_resolver.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/controller.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/uuid.cr
  src/components/framework/src/listeners/view.cr
  src/components/framework/src/spec/expectations/http.cr
  src/components/framework/src/view/format_handler_interface.cr
  src/components/framework/src/view/view.cr
  src/components/framework/src/view/view_handler_interface.cr
  src/components/http/mkdocs.yml
  src/components/http/src/abstract_file.cr
  src/components/http_kernel/mkdocs.yml
  src/components/http_kernel/src/athena-http_kernel.cr
  src/components/http_kernel/src/controller/value_resolvers/interface.cr
  src/components/http_kernel/src/controller/value_resolvers/request.cr
  src/components/http_kernel/src/error_renderer_interface.cr
  src/components/http_kernel/src/events/settable_response.cr
  src/components/http_kernel/src/events/view_event.cr
  src/components/http_kernel/src/http_kernel.cr
  src/components/http_kernel/src/listeners/error.cr
  src/components/serializer/mkdocs.yml
  src/components/validator/mkdocs.yml
Due: console, event_dispatcher, framework, serializer, validator

Add support for nested `>>` doc markup when using `object_schema` Fix being unable to link to non top-level types within a nested properties `>>` doc markup
  .changes/unreleased/dependency-injection-Added-20260308-213013.yaml
  .changes/unreleased/dependency-injection-Fixed-20260308-212748.yaml
  docs/templates/crystal/material/schema.html
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/dependency_injection/src/extension.cr
Due: dependency_injection

DI `object_schema` improvements (athena-framework/athena#684)
  .changes/unreleased/dependency-injection-Added-20260308-213013.yaml
  .changes/unreleased/dependency-injection-Fixed-20260308-212748.yaml
  docs/templates/crystal/material/schema.html
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/dependency_injection/src/extension.cr
Due: dependency_injection

`mercure` bundle integration
  docs/README.md
  docs/bundle_reference.md
  justfile
  src/bundles/mercure/shard.yml
  src/bundles/mercure/spec/authorization_spec.cr
  src/bundles/mercure/spec/bundle_spec.cr
  src/bundles/mercure/spec/discovery_spec.cr
  src/bundles/mercure/spec/listeners/add_link_header_spec.cr
  src/bundles/mercure/spec/listeners/set_cookie_spec.cr
  src/bundles/mercure/spec/spec_helper.cr
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/bundles/mercure/src/authorization.cr
  src/bundles/mercure/src/discovery.cr
  src/bundles/mercure/src/listeners/add_link_header.cr
  src/bundles/mercure/src/listeners/set_cookie.cr
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure/spec/authorization_spec.cr
  src/components/mercure/spec/discovery_spec.cr
  src/components/mercure/spec/hub/hub_spec.cr
  src/components/mercure/src/authorization.cr
  src/components/mercure/src/discovery.cr
  src/components/mercure/src/hub/hub.cr
  uv.lock
Due: mercure

Improve spec coverage
  src/bundles/mercure/spec/discovery_spec.cr
  src/bundles/mercure/spec/spec_helper.cr
Due: none

Last bit of cleanup
  src/bundles/mercure/spec/bundle_spec.cr
  src/bundles/mercure/src/athena-mercure_bundle.cr
Due: none

Test out using block form checks in tests Fix typo
  src/bundles/mercure/spec/bundle_spec.cr
  src/components/mercure-bundle/docs/README.md
Due: none

Fix incorrect macro code coverage line numbers
  .changes/unreleased/spec-Fixed-20260310-184832.yaml
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/athena-spec.cr
  src/components/spec/src/methods.cr
Due: spec

Use block format of compile time assertions to avoid partial lines
  src/components/dependency_injection/spec/compiler_passes/merge_configs_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/spec/spec/methods_spec.cr
Due: dependency_injection, framework, spec

fixup! Use block format of compile time assertions to avoid partial lines
  src/components/spec/spec/methods_spec.cr
Due: spec

Account for shared code when passing `line` thru
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/framework/spec/bundle_spec.cr
Due: dependency_injection, framework

fixup! Account for shared code when passing `line` thru
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
Due: dependency_injection

fixup! Account for shared code when passing `line` thru
  src/components/dependency_injection/spec/extension_spec.cr
Due: dependency_injection

Add `ASPEC.compile_time_assert` helper function for use with `assert_compiles`
  .changes/unreleased/spec-Added-20260311-224134.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_configs_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/spec/src/athena-spec.cr
Due: dependency_injection, framework, spec

fixup! Add `ASPEC.compile_time_assert` helper function for use with `assert_compiles`
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
Due: dependency_injection

Fix incorrect macro code coverage line numbers (athena-framework/athena#686)
  .changes/unreleased/spec-Added-20260311-224134.yaml
  .changes/unreleased/spec-Fixed-20260310-184832.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_configs_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/athena-spec.cr
  src/components/spec/src/methods.cr
Due: dependency_injection, framework, spec

Leverage new `ASPEC.compile_time_assert` helper function
  src/bundles/mercure/spec/bundle_spec.cr
Due: none

fixup! Leverage new `ASPEC.compile_time_assert` helper function
  src/bundles/mercure/spec/bundle_spec.cr
Due: none

Add ability to add code before/after the actual code of `ASPEC::Methods.assert_compiles` and `ASPEC::Methods.assert_compile_time_error`
  .changes/unreleased/spec-Added-20260312-213746.yaml
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_parameter_placeholders_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_values_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_generics_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/ext/console/register_commands_spec.cr
  src/components/serializer/spec/compiler_spec.cr
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/methods.cr
Due: dependency_injection, framework, serializer, spec

Remove `focus`
  src/components/spec/spec/methods_spec.cr
Due: spec

Add ability to add code before/after the actual code of `ASPEC::Methods.assert_compiles` and `ASPEC::Methods.assert_compile_time_error` (athena-framework/athena#687)
  .changes/unreleased/spec-Added-20260312-213746.yaml
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_parameter_placeholders_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_values_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_generics_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/ext/console/register_commands_spec.cr
  src/components/serializer/spec/compiler_spec.cr
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/methods.cr
Due: dependency_injection, framework, serializer, spec

Leverage preamble
  src/bundles/mercure/spec/bundle_spec.cr
Due: none

Mercure bundle integration (athena-framework/athena#685)
  docs/README.md
  docs/bundle_reference.md
  justfile
  src/bundles/mercure/shard.yml
  src/bundles/mercure/spec/authorization_spec.cr
  src/bundles/mercure/spec/bundle_spec.cr
  src/bundles/mercure/spec/discovery_spec.cr
  src/bundles/mercure/spec/listeners/add_link_header_spec.cr
  src/bundles/mercure/spec/listeners/set_cookie_spec.cr
  src/bundles/mercure/spec/spec_helper.cr
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/bundles/mercure/src/authorization.cr
  src/bundles/mercure/src/discovery.cr
  src/bundles/mercure/src/listeners/add_link_header.cr
  src/bundles/mercure/src/listeners/set_cookie.cr
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure/spec/authorization_spec.cr
  src/components/mercure/spec/discovery_spec.cr
  src/components/mercure/spec/hub/hub_spec.cr
  src/components/mercure/src/authorization.cr
  src/components/mercure/src/discovery.cr
  src/components/mercure/src/hub/hub.cr
  uv.lock
Due: mercure

First pass
  src/components/framework/shard.yml
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/commands/debug_event_dispatcher.cr
  src/components/framework/src/commands/debug_router.cr
  src/components/framework/src/commands/debug_router_match.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/ext/console.cr
  src/components/framework/src/ext/event_dispatcher.cr
  src/components/framework/src/listeners/format.cr
  src/components/framework/src/view/context.cr
  src/components/framework/src/view/format_negotiator.cr
  src/components/framework/src/view/view.cr
  src/components/framework/src/view/view_handler.cr
Due: framework

Refactor param palceholder resolution logic to make use of the block variant of `StringLiteral#gsub`
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/src/compiler_passes/resolve_parameter_placeholders.cr
Due: dependency_injection

Improve test coverage
  src/components/dependency_injection/spec/compiler_passes/parameters_spec.cr
  src/components/dependency_injection/spec/spec_helper.cr
  src/components/dependency_injection/src/compiler_passes/resolve_parameter_placeholders.cr
Due: dependency_injection

Refactor param placeholder resolution logic to make use of the block variant of `StringLiteral#gsub` (athena-framework/athena#688)
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/spec/compiler_passes/parameters_spec.cr
  src/components/dependency_injection/spec/spec_helper.cr
  src/components/dependency_injection/src/compiler_passes/resolve_parameter_placeholders.cr
Due: dependency_injection

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
