Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Deprecate usage of codecov flags
  .github/workflows/ci.yml
  codecov.yml
Due: none

Scaffold and explore
  .changes/clock/v0.2.0.md
  .changes/header.tpl.md
  .changes/unreleased/.gitkeep
  .changie.yaml
Due: none

Deprecate usage of codecov flags (#569)
  .github/workflows/ci.yml
  codecov.yml
Due: none

Handle nested style tags (athena-framework/athena#568)
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_custom_format.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_fgbg.txt
  src/components/console/spec/fixtures/helper/table/default_colspan_and_table_cell_with_comment_style.txt
  src/components/console/spec/fixtures/helper/table/default_formatted_row_with_line_breaks.txt
  src/components/console/spec/fixtures/style/block_padding.txt
  src/components/console/spec/fixtures/style/closing_tag.txt
  src/components/console/spec/fixtures/style/long_line_comment_decorated.txt
  src/components/console/spec/fixtures/style/nested_tag_prefix.txt
  src/components/console/spec/fixtures/style/table.txt
  src/components/console/spec/fixtures/style/table_horizontal.txt
  src/components/console/spec/fixtures/style/table_vertical.txt
  src/components/console/spec/fixtures/text/application_renderexception3_decorated.txt
  src/components/console/spec/formatter/output_formatter_spec.cr
  src/components/console/spec/formatter/output_formatter_style_spec.cr
  src/components/console/spec/formatter/output_formatter_style_stack_spec.cr
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/console/spec/helper/table_spec.cr
  src/components/console/spec/output/output_spec.cr
  src/components/console/src/formatter/output.cr
  src/components/console/src/formatter/output_formatter_style_stack.cr
  src/components/console/src/formatter/output_style.cr
Due: console

Tweak dependabot schedule
  .github/dependabot.yml
Due: none

Schedule GitHub Action Dependabot updates for the 7th of each month (athena-framework/athena#570)
  .github/dependabot.yml
Due: none

Add remaining components
  .changie.yaml
Due: none

Add new just command for creating changelog entries
  justfile
Due: none

Import other components into changie
  .changes/console/v0.4.1.md
  .changes/contracts/v0.1.0.md
  .changes/dependency_injection/v0.4.3.md
  .changes/dotenv/v0.2.0.md
  .changes/event_dispatcher/v0.3.1.md
  .changes/framework/v0.20.1.md
  .changes/image_size/v0.1.4.md
  .changes/mercure/.gitkeep
  .changes/mime/v0.2.0.md
  .changes/negotiation/v0.2.0.md
  .changes/routing/v0.1.10.md
  .changes/serializer/v0.4.1.md
  .changes/spec/v0.4.0.md
  .changes/validator/v0.4.0.md
  .changie.yaml
Due: none

Update root level framework version docs
  .changie.yaml
Due: none

Explicitly require `spec_helper` from `ATH::UploadedFile` spec
  src/components/framework/spec/uploaded_file_spec.cr
Due: framework

Explicitly require `spec_helper` from `ATH::UploadedFile` spec (#572)
  src/components/framework/spec/uploaded_file_spec.cr
Due: framework

Add already existing unreleased changelog entries
  .changes/unreleased/console-Added-20250809-214752.yaml
  .changes/unreleased/console-Added-20250809-214818.yaml
  .changes/unreleased/console-Added-20250809-214910.yaml
  .changes/unreleased/console-Fixed-20250809-214835.yaml
  .changes/unreleased/dependency_injection-Changed-20250809-214717.yaml
  .changes/unreleased/event_dispatcher-Changed-20250809-213926.yaml
  .changes/unreleased/event_dispatcher-Removed-20250809-213941.yaml
  .changes/unreleased/framework-Added-20250809-214012.yaml
  .changes/unreleased/framework-Added-20250809-214228.yaml
  .changes/unreleased/framework-Changed-20250809-212756.yaml
  .changes/unreleased/framework-Changed-20250809-214042.yaml
  .changes/unreleased/framework-Changed-20250809-214300.yaml
  .changes/unreleased/framework-Changed-20250809-214316.yaml
  .changes/unreleased/framework-Fixed-20250809-213839.yaml
  .changes/unreleased/mime-Added-20250809-214414.yaml
  .changes/unreleased/routing-Fixed-20250809-213734.yaml
  .changes/unreleased/serializer-Fixed-20250809-213627.yaml
  .changes/unreleased/spec-Added-20250809-213446.yaml
  .changes/unreleased/spec-Removed-20250809-213045.yaml
  .changes/unreleased/spec-Removed-20250809-213131.yaml
  .changes/unreleased/spec-Removed-20250809-213145.yaml
  .changes/unreleased/validator-Added-20250808-184716.yaml
  .changes/unreleased/validator-Added-20250809-212939.yaml
  .changes/unreleased/validator-Changed-20250809-212737.yaml
  .changes/unreleased/validator-Fixed-20250808-184758.yaml
Due: none

Update `CONTRIBUTING.md` to include `changie` and opening PR guidelines
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

Changie schema is now in schemastore
  .changie.yaml
Due: none

Fix typo
  CONTRIBUTING.md
Due: none

Fix some changelog formatting of new batches
  .changie.yaml
Due: none

Add additional just recipes
  justfile
Due: none

fixup! Add additional just recipes
  justfile
Due: none

Fix typo
  .changes/unreleased/serializer-Fixed-20250809-213627.yaml
  justfile
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
Due: serializer

Revert "Fix typo"
  .changes/unreleased/serializer-Fixed-20250809-213627.yaml
  justfile
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
Due: serializer

Fix typo
  justfile
Due: none

Make QP encoded string regex a bit more strict
  .typos.toml
Due: none

Make QP encoded string regex a bit more strict (athena-framework/athena#574)
  .typos.toml
Due: none

Fix typo in my name Move release link reference into each version batch
  .changes/unreleased/console-Added-20250809-214752.yaml
  .changes/unreleased/console-Added-20250809-214818.yaml
  .changes/unreleased/console-Added-20250809-214910.yaml
  .changes/unreleased/console-Fixed-20250809-214835.yaml
  .changes/unreleased/dependency_injection-Changed-20250809-214717.yaml
  .changes/unreleased/event_dispatcher-Changed-20250809-213926.yaml
  .changes/unreleased/event_dispatcher-Removed-20250809-213941.yaml
  .changes/unreleased/framework-Added-20250809-214012.yaml
  .changes/unreleased/framework-Added-20250809-214228.yaml
  .changes/unreleased/framework-Changed-20250809-212756.yaml
  .changes/unreleased/framework-Changed-20250809-214042.yaml
  .changes/unreleased/framework-Changed-20250809-214300.yaml
  .changes/unreleased/framework-Changed-20250809-214316.yaml
  .changes/unreleased/framework-Fixed-20250809-213839.yaml
  .changes/unreleased/mime-Added-20250809-214414.yaml
  .changes/unreleased/routing-Fixed-20250809-213734.yaml
  .changes/unreleased/serializer-Fixed-20250809-213627.yaml
  .changes/unreleased/spec-Added-20250809-213446.yaml
  .changes/unreleased/spec-Removed-20250809-213045.yaml
  .changes/unreleased/spec-Removed-20250809-213131.yaml
  .changes/unreleased/spec-Removed-20250809-213145.yaml
  .changes/unreleased/validator-Added-20250809-212939.yaml
  .changes/unreleased/validator-Changed-20250809-212737.yaml
  .changes/unreleased/validator-Fixed-20250808-184758.yaml
  .changie.yaml
Due: none

Leverage Markdown link references for PRs Move version referenes into each version batch before the PR references
  .changes/clock/v0.2.0.md
  .changes/console/v0.4.1.md
  .changes/dependency_injection/v0.4.3.md
  .changes/dotenv/v0.2.0.md
  .changes/event_dispatcher/v0.3.1.md
  .changes/framework/v0.20.1.md
  .changes/image_size/v0.1.4.md
  .changes/mime/v0.2.0.md
  .changes/negotiation/v0.2.0.md
  .changes/routing/v0.1.10.md
  .changes/serializer/v0.4.1.md
  .changes/spec/v0.4.0.md
  .changes/validator/v0.4.0.md
  .changie.yaml
Due: none

Re-generate component changelogs after formatting tweaks
  src/components/clock/CHANGELOG.md
  src/components/console/CHANGELOG.md
  src/components/dependency_injection/CHANGELOG.md
  src/components/dotenv/CHANGELOG.md
  src/components/event_dispatcher/CHANGELOG.md
  src/components/framework/CHANGELOG.md
  src/components/image_size/CHANGELOG.md
  src/components/mime/CHANGELOG.md
  src/components/negotiation/CHANGELOG.md
  src/components/routing/CHANGELOG.md
  src/components/serializer/CHANGELOG.md
  src/components/spec/CHANGELOG.md
  src/components/validator/CHANGELOG.md
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, negotiation, routing, serializer, spec, validator

Bump `serializer` Some additional changie tweaks
  .changes/serializer/v0.4.2.md
  .changes/unreleased/serializer-Fixed-20250809-213627.yaml
  .changie.yaml
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
Due: serializer

Bump `serializer` (athena-framework/athena#576)
  .changes/serializer/v0.4.2.md
  .changes/unreleased/serializer-Fixed-20250809-213627.yaml
  .changie.yaml
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
Due: serializer

Revamp `sync` workflow to more reasily handle doing additional things after syncing
  .github/workflows/sync.yml
Due: none

Remove now unused script files
  scripts/diff.sh
  scripts/repo.sh
Due: none

Make simple doc change for testing workflow
  src/components/clock/src/aware.cr
Due: clock

Trigger doc build if only root docs are updated
  .github/workflows/sync.yml
Due: none

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
