Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

First pass integration into validator component
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/uploaded_file.cr
  src/components/validator/src/constraints/file.cr
Due: framework, validator

Leverage `contracts` component to share common code
  src/components/contracts/src/common/framework.cr
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/mkdocs.yml
  src/components/framework/src/athena.cr
  src/components/framework/src/file_parser.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/uploaded_file.cr
  src/components/validator/shard.yml
  src/components/validator/src/constraints/file.cr
Due: framework, validator

Wire up bundle config
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/file_parser.cr
  src/components/framework/src/listeners/file.cr
Due: framework

Handle optional files
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Better handle error uploads
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/file_parser.cr
  src/components/validator/src/constraints/image.cr
  src/components/validator/src/validator/recursive_contextual_validator.cr
Due: framework, validator

Add docs Add `File` abstraction Some polish
  justfile
  src/components/contracts/CHANGELOG.md
  src/components/contracts/CONTRIBUTING.md
  src/components/contracts/src/common/framework.cr
  src/components/contracts/src/common/framework/abstract_file.cr
  src/components/contracts/src/common/framework/exception/file.cr
  src/components/contracts/src/common/framework/exception/file_not_found.cr
  src/components/contracts/src/common/framework/exception/file_too_big.cr
  src/components/contracts/src/common/framework/file.cr
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/spec/assets/directory/.empty
  src/components/framework/spec/assets/test
  src/components/framework/spec/binary_file_response_spec.cr
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/file_spec.cr
  src/components/framework/src/binary_file_response.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/file_parser.cr
Due: framework

more specs/polish
  src/components/contracts/src/common/framework/abstract_file.cr
  src/components/contracts/src/common/framework/exception/file.cr
  src/components/contracts/src/common/framework/exception/file_not_found.cr
  src/components/contracts/src/common/framework/exception/file_size_limit_exceeded.cr
  src/components/contracts/src/common/framework/exception/file_too_big.cr
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/spec/assets/.unknownextension
  src/components/framework/spec/assets/case-sensitive-mime-type.xlsm
  src/components/framework/spec/assets/webkitdirectory/nested/test.txt
  src/components/framework/spec/assets/webkitdirectory/test.txt
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/file_spec.cr
  src/components/framework/spec/uploaded_file_spec.cr
Due: framework

Fix `watchexec` filewatching recipes in `justfile`
  justfile
Due: none

Fix `watchexec` filewatching recipes in `justfile` (athena-framework/athena#558)
  justfile
Due: none

More docs
  justfile
  src/components/contracts/src/common/framework/abstract_file.cr
  src/components/contracts/src/common/framework/file.cr
Due: none

Do not link `LibPCRE2` as stdlib already does
  src/components/routing/src/ext/regex.cr
Due: routing

Delete CHANGELOG.md
  CHANGELOG.md
Due: none

Fix linker warning due to duplicate `pcre2-8` linkage (athena-framework/athena#560)
  src/components/routing/src/ext/regex.cr
Due: routing

Remove top level `CHANGELOG.md` (athena-framework/athena#561)
  CHANGELOG.md
Due: none

More docs and specs
  docs/getting_started/routing.md
  justfile
  src/components/contracts/src/common/framework/abstract_file.cr
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/spec/assets/file-big.txt
  src/components/framework/spec/assets/file-small.txt
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/validator/src/constraints/file.cr
Due: framework, validator

More docs and specs
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/spec/listeners/file_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/file_parser.cr
  src/components/validator/spec/constraints/file_validator_ath_file_spec.cr
  src/components/validator/spec/constraints/file_validator_std_file_spec.cr
  src/components/validator/spec/constraints/file_validator_test_case.cr
  src/components/validator/spec/constraints/fixtures/file-big.txt
  src/components/validator/src/constraints/file.cr
  src/components/validator/src/validator/recursive_contextual_validator.cr
Due: framework, validator

More docs and specs
  docs/getting_started/routing.md
  src/components/framework/spec/binary_file_response_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/ext/conversion_types.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/request.cr
Due: framework

More specs
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/controllers/file_upload_controller.cr
  src/components/framework/spec/file_upload_controller_spec.cr
  src/components/framework/spec/prefix_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/ext/conversion_types.cr
Due: framework

Fix nightly type incompatibility with `ASR::Any`
  src/components/serializer/src/any.cr
Due: serializer

More specs Handle non-file parts
  docs/getting_started/routing.md
  src/components/framework/spec/assets/file-big.txt
  src/components/framework/spec/assets/file-small.txt
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/file_parser_spec.cr
  src/components/framework/spec/file_upload_controller_spec.cr
  src/components/framework/src/file_parser.cr
Due: framework

Fix nightly type incompatibility with `ASR::Any` (athena-framework/athena#562)
  src/components/serializer/src/any.cr
Due: serializer

Fixup windows specs
  src/components/framework/spec/file_parser_spec.cr
  src/components/framework/spec/file_spec.cr
Due: framework

Bump min `contracts` version
  src/components/framework/shard.yml
  src/components/validator/shard.yml
Due: framework, validator

Actually not needed
  src/components/contracts/src/athena-contracts.cr
  src/components/framework/shard.yml
  src/components/validator/shard.yml
Due: framework, validator

Leverage `ATH::AbstractFile` within `ATH::BinaryFileResponse` Make `ATH::Response` related types have fluent setter interface
  src/components/contracts/src/common/framework/abstract_file.cr
  src/components/framework/spec/binary_file_response_spec.cr
  src/components/framework/src/binary_file_response.cr
  src/components/framework/src/response.cr
Due: framework

Add spec for unreadable files
  src/components/framework/spec/binary_file_response_spec.cr
Due: framework

Windows does not have unreadable files
  src/components/framework/spec/binary_file_response_spec.cr
Due: framework

`ATH::Response` improvements (athena-framework/athena#563)
  src/components/contracts/src/common/framework/abstract_file.cr
  src/components/framework/spec/binary_file_response_spec.cr
  src/components/framework/src/binary_file_response.cr
  src/components/framework/src/response.cr
Due: framework

Bump `contracts`
  src/components/contracts/CHANGELOG.md
  src/components/contracts/docs/README.md
Due: none

Bump `contracts` (athena-framework/athena#564)
  src/components/contracts/CHANGELOG.md
  src/components/contracts/docs/README.md
Due: none

Enhance `sync` script to support rebuilding the docs Use `ssh` git URLs in `sync` script
  .github/workflows/release.yml
  .github/workflows/sync.yml
  scripts/_common.sh
  scripts/release.sh
  scripts/repo.sh
Due: none

Actually define `helper` variable in `ACON::Question` docs
  .github/workflows/release.yml
  .github/workflows/sync.yml
  src/components/console/src/question/choice.cr
  src/components/console/src/question/confirmation.cr
  src/components/console/src/question/multiple_choice.cr
  src/components/console/src/question/question.cr
Due: console

Rename trigger label
  .github/workflows/sync.yml
Due: none

Fix broken `ACON::Question` docs (athena-framework/athena#565)
  .github/workflows/release.yml
  .github/workflows/sync.yml
  scripts/_common.sh
  scripts/release.sh
  scripts/repo.sh
  src/components/console/src/question/choice.cr
  src/components/console/src/question/confirmation.cr
  src/components/console/src/question/multiple_choice.cr
  src/components/console/src/question/question.cr
Due: console

Use SSH auth for Athena bot user
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Set `GH_TOKEN` env var for gh cli
  .github/workflows/sync.yml
Due: none

Use SSH auth for Athena bot user (athena-framework/athena#566)
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Handle nested style tags
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_custom_format.txt
  src/components/console/spec/fixtures/helper/table/default_cells_with_rowspan_and_colspan_and_fgbg.txt
  src/components/console/spec/fixtures/helper/table/default_colspan_and_table_cell_with_comment_style.txt
  src/components/console/spec/fixtures/helper/table/default_formatted_row_with_line_breaks.txt
  src/components/console/spec/fixtures/style/block_padding.txt
  src/components/console/spec/fixtures/style/closing_tag.txt
  src/components/console/spec/fixtures/style/long_line_comment_decorated.txt
  src/components/console/spec/fixtures/style/nested_tag_prefix.txt
  src/components/console/spec/fixtures/style/table.txt
  src/components/console/spec/fixtures/style/table_horizontal.txt
  src/components/console/spec/fixtures/style/table_vertical.txt
  src/components/console/spec/fixtures/text/application_renderexception3_decorated.txt
  src/components/console/spec/formatter/output_formatter_spec.cr
  src/components/console/spec/formatter/output_formatter_style_spec.cr
  src/components/console/spec/formatter/output_formatter_style_stack_spec.cr
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/console/spec/helper/table_spec.cr
  src/components/console/spec/output/output_spec.cr
  src/components/console/src/formatter/output.cr
  src/components/console/src/formatter/output_formatter_style_stack.cr
  src/components/console/src/formatter/output_style.cr
Due: console
