Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Add Ubuntu ARM runner to `test_unit` CI job (athena-framework/athena#606)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  src/components/console/spec/fixtures/text/application_renderexception3.txt
  src/components/console/spec/fixtures/text/application_renderexception3_decorated.txt
Due: console

Leverage `workflow_call` and `workflow_dispatch` triggers for building/publishing the docs
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/sync.yml
Due: none

Leverage `workflow_call` and `workflow_dispatch` triggers for tagging/releasing components
  .github/workflows/sync.yml
  .github/workflows/tag_and_create_release.yml
Due: none

fixup! Leverage `workflow_call` and `workflow_dispatch` triggers for tagging/releasing components
  .github/workflows/tag_and_create_release.yml
Due: none

CI improvements (#608)
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/sync.yml
  .github/workflows/tag_and_create_release.yml
Due: none

Add new overload to allow loading a single dotenv file
  .changes/dotenv/v0.2.1.md
  src/components/dotenv/CHANGELOG.md
  src/components/dotenv/shard.yml
  src/components/dotenv/spec/athena-dotenv_spec.cr
  src/components/dotenv/src/athena-dotenv.cr
Due: dotenv

Add new overload to allow loading a single dotenv file (athena-framework/athena#609)
  .changes/dotenv/v0.2.1.md
  src/components/dotenv/CHANGELOG.md
  src/components/dotenv/shard.yml
  src/components/dotenv/spec/athena-dotenv_spec.cr
  src/components/dotenv/src/athena-dotenv.cr
Due: dotenv

Make identifying constraint violation inequality easier within spec failures
  .changes/unreleased/validator-Changed-20251110-011030.yaml
  src/components/validator/src/spec/constraint_validator_test_case.cr
Due: validator

Make identifying constraint violation inequality easier within spec failures (athena-framework/athena#610)
  .changes/unreleased/validator-Changed-20251110-011030.yaml
  src/components/validator/src/spec/constraint_validator_test_case.cr
Due: validator

Split `AVD::Constraints::Size` into `Count` and `Length` constraints
  src/components/validator/spec/constraints/at_least_one_of_validator_spec.cr
  src/components/validator/spec/constraints/compound_validator_spec.cr
  src/components/validator/spec/constraints/count_validator_spec.cr
  src/components/validator/spec/constraints/length_validator_spec.cr
  src/components/validator/spec/spec/compound_constraint_test_case_spec.cr
  src/components/validator/spec/validator/recursive_validator_spec.cr
  src/components/validator/src/constraints/count.cr
  src/components/validator/src/constraints/length.cr
  src/components/validator/src/constraints/size.cr
Due: validator

Add change and upgrading entries
  .changes/unreleased/validator-Changed-20251110-101116.yaml
  src/components/validator/UPGRADING.md
Due: validator

Fix lint errors
  src/components/validator/spec/constraints/length_validator_spec.cr
  src/components/validator/src/constraints/length.cr
Due: validator

Split `AVD::Constraints::Size` into `Count` and `Length` constraints (athena-framework/athena#611)
  .changes/unreleased/validator-Changed-20251110-101116.yaml
  src/components/validator/UPGRADING.md
  src/components/validator/spec/constraints/at_least_one_of_validator_spec.cr
  src/components/validator/spec/constraints/compound_validator_spec.cr
  src/components/validator/spec/constraints/count_validator_spec.cr
  src/components/validator/spec/constraints/length_validator_spec.cr
  src/components/validator/spec/spec/compound_constraint_test_case_spec.cr
  src/components/validator/spec/validator/recursive_validator_spec.cr
  src/components/validator/src/constraints/count.cr
  src/components/validator/src/constraints/length.cr
  src/components/validator/src/constraints/size.cr
Due: validator

Allow picking the unit used for `AVD::Constraints::Length` validations
  .changes/unreleased/validator-Added-20251110-112834.yaml
  src/components/validator/spec/constraints/length_validator_spec.cr
  src/components/validator/src/constraints/length.cr
Due: validator

Allow picking the unit used for `AVD::Constraints::Length` validations (athena-framework/athena#612)
  .changes/unreleased/validator-Added-20251110-112834.yaml
  src/components/validator/spec/constraints/length_validator_spec.cr
  src/components/validator/src/constraints/length.cr
Due: validator

Fix segfault when interacting with a test case ivar objects ivar that was left uninitialized due to an exception in its initializer, within the `tear_down` method
  .changes/spec/v0.4.1.md
  src/components/spec/CHANGELOG.md
  src/components/spec/shard.yml
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/src/athena-spec.cr
  src/components/spec/src/test_case.cr
Due: spec

Fix segfault due to uninitialized object (athena-framework/athena#613)
  .changes/spec/v0.4.1.md
  src/components/spec/CHANGELOG.md
  src/components/spec/shard.yml
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/src/athena-spec.cr
  src/components/spec/src/test_case.cr
Due: spec

Updates now that material insiders is public
  .github/dependabot.yml
  .github/workflows/build_and_publish_docs.yml
  pyproject.toml
  uv.lock
Due: none

Updates now that material insiders is public (athena-framework/athena#615)
  .github/dependabot.yml
  .github/workflows/build_and_publish_docs.yml
  pyproject.toml
  uv.lock
Due: none

Checkpoint
  justfile
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/resolve_parameter_placeholders.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/dependency_injection/src/service_container.cr
Due: dependency_injection

Some misc doc improvements
  docs/README.md
  docs/getting_started/testing.md
  justfile
  src/components/framework/src/bundle.cr
  src/components/spec/docs/README.md
Due: framework, spec

Some misc doc improvements (athena-framework/athena#618)
  docs/README.md
  docs/getting_started/testing.md
  justfile
  src/components/framework/src/bundle.cr
  src/components/spec/docs/README.md
Due: framework, spec

Checkpoint
  mkdocs-common.yml
  src/components/mercure/docs/README.md
Due: mercure

Checkpoint
  docs/bundle_reference.md
  justfile
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/bundles/mercure/shard.yml
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/components/mercure-bundle/README.md
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure-bundle/src
Due: none

Document Mercure component
  .typos.toml
  mkdocs-common.yml
  src/components/mercure/docs/README.md
  src/components/mercure/spec/authorization_spec.cr
  src/components/mercure/src/athena-mercure.cr
  src/components/mercure/src/authorization.cr
  src/components/mercure/src/discovery.cr
  src/components/mercure/src/hub/hub.cr
  src/components/mercure/src/hub/interface.cr
  src/components/mercure/src/hub/registry.cr
  src/components/mercure/src/spec.cr
  src/components/mercure/src/token_factory/interface.cr
  src/components/mercure/src/token_factory/jwt.cr
  src/components/mercure/src/token_provider/callable.cr
  src/components/mercure/src/token_provider/factory.cr
  src/components/mercure/src/token_provider/interface.cr
  src/components/mercure/src/token_provider/static.cr
  src/components/mercure/src/update.cr
Due: mercure

Document Mercure component (athena-framework/athena#630)
  .typos.toml
  mkdocs-common.yml
  src/components/mercure/docs/README.md
  src/components/mercure/spec/authorization_spec.cr
  src/components/mercure/src/athena-mercure.cr
  src/components/mercure/src/authorization.cr
  src/components/mercure/src/discovery.cr
  src/components/mercure/src/hub/hub.cr
  src/components/mercure/src/hub/interface.cr
  src/components/mercure/src/hub/registry.cr
  src/components/mercure/src/spec.cr
  src/components/mercure/src/token_factory/interface.cr
  src/components/mercure/src/token_factory/jwt.cr
  src/components/mercure/src/token_provider/callable.cr
  src/components/mercure/src/token_provider/factory.cr
  src/components/mercure/src/token_provider/interface.cr
  src/components/mercure/src/token_provider/static.cr
  src/components/mercure/src/update.cr
Due: mercure

Extract `ATH::AbstractBundle` into `ADI` namespace
  src/components/dependency_injection/spec/abstract_bundle_spec.cr
  src/components/dependency_injection/src/abstract_bundle.cr
  src/components/dependency_injection/src/annotations.cr
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/framework/spec/abstract_bundle_spec.cr
  src/components/framework/src/annotations.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
Due: dependency_injection, framework

Extract `ATH::AbstractBundle` into `ADI` namespace (athena-framework/athena#631)
  src/components/dependency_injection/spec/abstract_bundle_spec.cr
  src/components/dependency_injection/src/abstract_bundle.cr
  src/components/dependency_injection/src/annotations.cr
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/framework/spec/abstract_bundle_spec.cr
  src/components/framework/src/annotations.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
Due: dependency_injection, framework

Downgrade `git` to workaround a `subtree` regression
  .github/workflows/sync.yml
  src/components/mercure/shard.yml
Due: mercure

Downgrade `git` to workaround a `subtree` regression (athena-framework/athena#634)
  .github/workflows/sync.yml
  src/components/mercure/shard.yml
Due: mercure

Revert "Downgrade `git` to workaround a `subtree` regression (athena-framewor…"
  .github/workflows/sync.yml
  src/components/mercure/shard.yml
Due: mercure

Revert "Downgrade `git` to workaround a `subtree` regression" (athena-framework/athena#635)
  .github/workflows/sync.yml
  src/components/mercure/shard.yml
Due: mercure

Store `ATH::Action` within `ATH::Request#attributes` instead of within an ivar
  .changes/unreleased/framework-Changed-20251226-230941.yaml
  docs/getting_started/configuration.md
  docs/why_athena.md
  src/components/framework/UPGRADING.md
  src/components/framework/spec/controllers/custom_annotation_controller.cr
  src/components/framework/spec/route_handler_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/listeners/view.cr
  src/components/framework/src/parameter_bag.cr
  src/components/framework/src/request.cr
  src/components/framework/src/route_handler.cr
Due: framework

Store `ATH::Action` within `ATH::Request#attributes` instead of within an ivar (athena-framework/athena#636)
  .changes/unreleased/framework-Changed-20251226-230941.yaml
  docs/getting_started/configuration.md
  docs/why_athena.md
  src/components/framework/UPGRADING.md
  src/components/framework/spec/controllers/custom_annotation_controller.cr
  src/components/framework/spec/route_handler_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/listeners/view.cr
  src/components/framework/src/parameter_bag.cr
  src/components/framework/src/request.cr
  src/components/framework/src/route_handler.cr
Due: framework

Downgrade `git` to workaround a `subtree` regression (athena-framework/athena#637)
  .github/workflows/sync.yml
  src/components/mercure/shard.yml
Due: mercure

Squashed 'src/components/http/' content from commit 2abd7b7
  .editorconfig
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/README.md
  mkdocs.yml
  shard.yml
  spec/spec_helper.cr
  src/athena-COMPONENT_NAME.cr
Due: none

Scaffold `http` component
  .changie.yaml
  codecov.yml
  docs/README.md
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/components/http/CHANGELOG.md
  src/components/http/LICENSE
  src/components/http/README.md
  src/components/http/docs/README.md
  src/components/http/mkdocs.yml
  src/components/http/shard.yml
  src/components/http/spec/spec_helper.cr
  src/components/http/src/athena-COMPONENT_NAME.cr
  src/components/http/src/athena-http.cr
Due: none

Scaffold `http` component (athena-framework/athena#638)
  .changie.yaml
  codecov.yml
  docs/README.md
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/components/http/CHANGELOG.md
  src/components/http/LICENSE
  src/components/http/README.md
  src/components/http/docs/README.md
  src/components/http/mkdocs.yml
  src/components/http/shard.yml
  src/components/http/spec/spec_helper.cr
  src/components/http/src/athena-COMPONENT_NAME.cr
  src/components/http/src/athena-http.cr
Due: none

Fix global extension schema `Enum` types not retaining their `::` prefix
  .changes/unreleased/dependency-injection-Fixed-20251227-144134.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
  src/components/dependency_injection/src/extension.cr
Due: dependency_injection

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
