Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Fix global extension schema `Enum` types not retaining their `::` prefix (athena-framework/athena#639)
  .changes/unreleased/dependency-injection-Fixed-20251227-144134.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
  src/components/dependency_injection/src/extension.cr
Due: dependency_injection

Add `changie` entry
  .changes/unreleased/framework-Changed-20251227-184023.yaml
Due: none

Update old backtick links to actual links to other component
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/controller.cr
  src/components/framework/src/controller/value_resolvers/enum.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/request.cr
  src/components/framework/src/controller/value_resolvers/request_attribute.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/uuid.cr
  src/components/framework/src/error_renderer_interface.cr
  src/components/framework/src/events/request_event.cr
  src/components/framework/src/events/settable_response.cr
  src/components/framework/src/events/view_event.cr
  src/components/framework/src/listeners/error.cr
  src/components/framework/src/listeners/format.cr
  src/components/framework/src/listeners/view.cr
  src/components/framework/src/route_handler.cr
  src/components/framework/src/spec/expectations/http.cr
  src/components/framework/src/view/format_handler_interface.cr
  src/components/framework/src/view/view.cr
  src/components/framework/src/view/view_handler_interface.cr
Due: framework

Add some missing test coverage
  src/components/framework/spec/athena_spec.cr
  src/components/http/spec/ext/conversion_types_spec.cr
  src/components/http/spec/parameter_bag_spec.cr
  src/components/http/spec/request_spec.cr
Due: framework

Add ability to define schema configuration maps; with arbitrary keys, but structured values
  .changes/unreleased/dependency-injection-Added-20251228-221541.yaml
  .changes/unreleased/dependency-injection-Added-20251228-222303.yaml
  docs/templates/crystal/material/schema.html
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/dependency_injection/src/extension.cr
Due: dependency_injection

Improve test coverage
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
Due: dependency_injection

fixup! Improve test coverage
  src/components/dependency_injection/spec/extension_spec.cr
Due: dependency_injection

Add `object_schema` support to `array_of` and `object_of`
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
Due: dependency_injection

Generate macro code coverage report for `ASPEC::Methods.assert_compiles`
  .changes/unreleased/spec-Added-20251229-105220.yaml
  src/components/spec/src/methods.cr
Due: spec

Generate macro code coverage report for `ASPEC::Methods.assert_compiles` usages (athena-framework/athena#642)
  .changes/unreleased/spec-Added-20251229-105220.yaml
  src/components/spec/src/methods.cr
Due: spec

Try manually building & installing git and subtree package
  .github/workflows/sync.yml
Due: none

Try manually building & installing git and subtree package (#643)
  .github/workflows/sync.yml
Due: none

Add ability to define schema configuration maps; with arbitrary keys, but structured values (athena-framework/athena#641)
  .changes/unreleased/dependency-injection-Added-20251228-221541.yaml
  .changes/unreleased/dependency-injection-Added-20251228-222303.yaml
  docs/templates/crystal/material/schema.html
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/dependency_injection/src/extension.cr
Due: dependency_injection

See what version of `git` is available
  .github/workflows/docs.yml
Due: none

Add opt-in support for deriving the command name from `PROGRAM_NAME` when a CLI binary is invoked via a symlink
  .changes/unreleased/console-Added-20251229-185547.yaml
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Fix PR number
  .changes/unreleased/console-Added-20251229-185547.yaml
Due: none

Improve compile time error messages
  .changes/unreleased/dependency-injection-Changed-20251229-211019.yaml
  .changes/unreleased/event-dispatcher-Changed-20251229-211019.yaml
  .changes/unreleased/serializer-Changed-20251229-211019.yaml
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_values_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/dependency_injection/src/compiler_passes/resolve_tagged_iterators.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/event_dispatcher/spec/compiler_spec.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
  src/components/serializer/spec/compiler_spec.cr
  src/components/serializer/spec/spec_helper.cr
Due: dependency_injection, event_dispatcher, serializer

Patch some holes in the test coverage
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
Due: dependency_injection

Patch some holes in the test coverage
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
Due: dependency_injection

Improve compile time error messages (athena-framework/athena#646)
  .changes/unreleased/dependency-injection-Changed-20251229-211019.yaml
  .changes/unreleased/event-dispatcher-Changed-20251229-211019.yaml
  .changes/unreleased/serializer-Changed-20251229-211019.yaml
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_values_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/dependency_injection/src/compiler_passes/resolve_tagged_iterators.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/event_dispatcher/spec/compiler_spec.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
  src/components/serializer/spec/compiler_spec.cr
  src/components/serializer/spec/spec_helper.cr
Due: dependency_injection, event_dispatcher, serializer

Fix falsey binding values not resolving
  .changes/unreleased/dependency-injection-Fixed-20251229-221340.yaml
  src/components/dependency_injection/spec/compiler_passes/resolve_values_spec.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
Due: dependency_injection

Fix falsey binding values not resolving (athena-framework/athena#647)
  .changes/unreleased/dependency-injection-Fixed-20251229-221340.yaml
  src/components/dependency_injection/spec/compiler_passes/resolve_values_spec.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
Due: dependency_injection

Break inspect cascade on type-erased containers
  src/components/console/src/input/value/value.cr
  src/components/dependency_injection/src/annotation_configurations.cr
  src/components/framework/src/action.cr
  src/components/framework/src/controller/parameter_metadata.cr
  src/components/http/src/parameter_bag.cr
  src/components/validator/src/athena-validator.cr
  src/components/validator/src/constraints/callback.cr
  src/components/validator/src/violation/constraint_violation.cr
  src/components/validator/src/violation/constraint_violation_list.cr
Due: console, dependency_injection, framework, validator

fixup! Break inspect cascade on type-erased containers
  src/components/console/src/input/value/value.cr
Due: console

Binary size reduction optimizations (athena-framework/athena#648)
  src/components/console/src/input/value/value.cr
  src/components/dependency_injection/src/annotation_configurations.cr
  src/components/framework/src/action.cr
  src/components/framework/src/controller/parameter_metadata.cr
  src/components/http/src/parameter_bag.cr
  src/components/validator/src/athena-validator.cr
  src/components/validator/src/constraints/callback.cr
  src/components/validator/src/violation/constraint_violation.cr
  src/components/validator/src/violation/constraint_violation_list.cr
Due: console, dependency_injection, framework, validator

Exclude unused services, and inline services only used once
  .changes/unreleased/dependency-injection-Changed-20251231-130654.yaml
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/remove_unused_services_spec.cr
  src/components/dependency_injection/src/compiler_passes/analyze_service_references.cr
  src/components/dependency_injection/src/compiler_passes/auto_wire.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/inline_service_definitions.cr
  src/components/dependency_injection/src/compiler_passes/normalize_definitions.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/dependency_injection/src/compiler_passes/remove_unused_services.cr
  src/components/dependency_injection/src/compiler_passes/resolve_tagged_iterators.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
  src/components/dependency_injection/src/service_container.cr
  src/components/framework/src/ext/console/compiler_passes/register_commands.cr
Due: dependency_injection, framework

Revamp test coverage
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/remove_unused_services_spec.cr
Due: dependency_injection

More test coverage & cleanup
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/inline_service_definitions.cr
Due: dependency_injection

Optimize Service Container generation (athena-framework/athena#649)
  .changes/unreleased/dependency-injection-Changed-20251231-130654.yaml
  src/components/dependency_injection/spec/compiler_passes/inline_service_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/remove_unused_services_spec.cr
  src/components/dependency_injection/src/compiler_passes/analyze_service_references.cr
  src/components/dependency_injection/src/compiler_passes/auto_wire.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/inline_service_definitions.cr
  src/components/dependency_injection/src/compiler_passes/normalize_definitions.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/dependency_injection/src/compiler_passes/remove_unused_services.cr
  src/components/dependency_injection/src/compiler_passes/resolve_tagged_iterators.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
  src/components/dependency_injection/src/service_container.cr
  src/components/framework/src/ext/console/compiler_passes/register_commands.cr
Due: dependency_injection, framework

Centralize tag processing
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/src/compiler_passes/normalize_definitions.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
  src/components/dependency_injection/src/compiler_passes/process_tags.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/dependency_injection/src/service_container.cr
Due: dependency_injection

Centralize tag processing (athena-framework/athena#650)
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/src/compiler_passes/normalize_definitions.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
  src/components/dependency_injection/src/compiler_passes/process_tags.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/dependency_injection/src/service_container.cr
Due: dependency_injection

Add opt-in support for deriving the command name from `PROGRAM_NAME` when a CLI binary is invoked via a symlink (athena-framework/athena#645)
  .changes/unreleased/console-Added-20251229-185547.yaml
  src/components/console/spec/application_spec.cr
  src/components/console/src/application.cr
Due: console

Support shards living in directories other than `src/components` Normalize/improve verbiage `components` => `shards` to also handle bundles
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/sync.yml
  .github/workflows/tag_and_create_release.yml
  .gitignore
  CONTRIBUTING.md
  justfile
  scripts/test.sh
Due: none

Prepare for the first built-in bundle (#651)
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/sync.yml
  .github/workflows/tag_and_create_release.yml
  .gitignore
  CONTRIBUTING.md
  justfile
  scripts/test.sh
Due: none

Allow storing more than String values in `router` parameters
  .changes/unreleased/routing-Changed-20260102-171019.yaml
  src/components/framework/src/ext/console/descriptor/text.cr
  src/components/framework/src/ext/routing/redirectable_url_matcher.cr
  src/components/framework/src/listeners/routing.cr
  src/components/routing/UPGRADING.md
  src/components/routing/docs/README.md
  src/components/routing/spec/fixtures/route_provider/route_collection1.cr
  src/components/routing/spec/fixtures/route_provider/route_collection10.cr
  src/components/routing/spec/fixtures/route_provider/route_collection11.cr
  src/components/routing/spec/fixtures/route_provider/route_collection12.cr
  src/components/routing/spec/fixtures/route_provider/route_collection2.cr
  src/components/routing/spec/fixtures/route_provider/route_collection3.cr
  src/components/routing/spec/fixtures/route_provider/route_collection4.cr
  src/components/routing/spec/fixtures/route_provider/route_collection5.cr
  src/components/routing/spec/fixtures/route_provider/route_collection6.cr
  src/components/routing/spec/fixtures/route_provider/route_collection7.cr
  src/components/routing/spec/fixtures/route_provider/route_collection8.cr
  src/components/routing/spec/fixtures/route_provider/route_collection9.cr
  src/components/routing/spec/matcher/redirectable_url_matcher_spec.cr
  src/components/routing/spec/parameters_spec.cr
  src/components/routing/spec/routing_handler_spec.cr
  src/components/routing/src/athena-routing.cr
  src/components/routing/src/generator/url_generator.cr
  src/components/routing/src/matcher/redirectable_url_matcher_interface.cr
  src/components/routing/src/matcher/request_matcher_interface.cr
  src/components/routing/src/matcher/traceable_url_matcher.cr
  src/components/routing/src/matcher/url_matcher.cr
  src/components/routing/src/matcher/url_matcher_interface.cr
  src/components/routing/src/parameters.cr
  src/components/routing/src/route.cr
  src/components/routing/src/route_compiler.cr
  src/components/routing/src/route_provider.cr
  src/components/routing/src/router.cr
  src/components/routing/src/routing_handler.cr
Due: framework, routing

More test coverage
  src/components/routing/spec/route_spec.cr
Due: routing

Change `ART::Route#defaults` and matched route parameters return type to `ART::Parameters` (athena-framework/athena#652)
  .changes/unreleased/routing-Changed-20260102-171019.yaml
  src/components/framework/src/ext/console/descriptor/text.cr
  src/components/framework/src/ext/routing/redirectable_url_matcher.cr
  src/components/framework/src/listeners/routing.cr
  src/components/routing/UPGRADING.md
  src/components/routing/docs/README.md
  src/components/routing/spec/fixtures/route_provider/route_collection1.cr
  src/components/routing/spec/fixtures/route_provider/route_collection10.cr
  src/components/routing/spec/fixtures/route_provider/route_collection11.cr
  src/components/routing/spec/fixtures/route_provider/route_collection12.cr
  src/components/routing/spec/fixtures/route_provider/route_collection2.cr
  src/components/routing/spec/fixtures/route_provider/route_collection3.cr
  src/components/routing/spec/fixtures/route_provider/route_collection4.cr
  src/components/routing/spec/fixtures/route_provider/route_collection5.cr
  src/components/routing/spec/fixtures/route_provider/route_collection6.cr
  src/components/routing/spec/fixtures/route_provider/route_collection7.cr
  src/components/routing/spec/fixtures/route_provider/route_collection8.cr
  src/components/routing/spec/fixtures/route_provider/route_collection9.cr
  src/components/routing/spec/matcher/redirectable_url_matcher_spec.cr
  src/components/routing/spec/parameters_spec.cr
  src/components/routing/spec/route_spec.cr
  src/components/routing/spec/routing_handler_spec.cr
  src/components/routing/src/athena-routing.cr
  src/components/routing/src/generator/url_generator.cr
  src/components/routing/src/matcher/redirectable_url_matcher_interface.cr
  src/components/routing/src/matcher/request_matcher_interface.cr
  src/components/routing/src/matcher/traceable_url_matcher.cr
  src/components/routing/src/matcher/url_matcher.cr
  src/components/routing/src/matcher/url_matcher_interface.cr
  src/components/routing/src/parameters.cr
  src/components/routing/src/route.cr
  src/components/routing/src/route_compiler.cr
  src/components/routing/src/route_provider.cr
  src/components/routing/src/router.cr
  src/components/routing/src/routing_handler.cr
Due: framework, routing

Refactor how the `ATH::Action` for a given request is resolved
  src/components/framework/spec/ext/routing/annotation_route_loader_spec.cr
  src/components/framework/spec/route_handler_spec.cr
  src/components/framework/src/action_resolver.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/controller_resolver.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
  src/components/framework/src/ext/routing/redirectable_url_matcher.cr
  src/components/framework/src/route_handler.cr
Due: framework
