Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Fix typo
  src/components/serializer/spec/navigators/serialization_navigator_spec.cr
Due: serializer

Allow having more than one compiled route collection
  src/components/routing/spec/routing_handler_spec.cr
  src/components/routing/src/athena-routing.cr
  src/components/routing/src/generator/url_generator.cr
  src/components/routing/src/matcher/traceable_url_matcher.cr
  src/components/routing/src/matcher/url_matcher.cr
  src/components/routing/src/route_provider.cr
  src/components/routing/src/router.cr
  src/components/routing/src/routing_handler.cr
Due: routing

Remove un-needed getter
  src/components/routing/src/route_provider.cr
Due: routing

Be compatible with nightly formatter
  src/components/routing/src/generator/url_generator.cr
  src/components/routing/src/matcher/traceable_url_matcher.cr
  src/components/routing/src/matcher/url_matcher.cr
  src/components/routing/src/router.cr
Due: routing

Fix `ART::RouteProvider.inspect`
  src/components/routing/src/route_provider.cr
Due: routing

Add some basic test coverage of `ART::RouteProvider.inspect`
  src/components/routing/spec/route_provider_spec.cr
Due: routing

Allow having more than one compiled route collection (athena-framework/athena#468)
  src/components/routing/spec/route_provider_spec.cr
  src/components/routing/spec/routing_handler_spec.cr
  src/components/routing/src/athena-routing.cr
  src/components/routing/src/generator/url_generator.cr
  src/components/routing/src/matcher/traceable_url_matcher.cr
  src/components/routing/src/matcher/url_matcher.cr
  src/components/routing/src/route_provider.cr
  src/components/routing/src/router.cr
  src/components/routing/src/routing_handler.cr
Due: routing

Log unhandled `ART::RoutingHandler` exceptions
  src/components/routing/spec/routing_handler_spec.cr
  src/components/routing/spec/spec_helper.cr
  src/components/routing/src/routing_handler.cr
Due: routing

Log unhandled `ART::RoutingHandler` exceptions (athena-framework/athena#470)
  src/components/routing/spec/routing_handler_spec.cr
  src/components/routing/spec/spec_helper.cr
  src/components/routing/src/routing_handler.cr
Due: routing

Bump `mkdocs` and `mkdocs-material` Make required changes to allow building the docs again
  Makefile
  requirements.in
  requirements.txt
  src/components/clock/mkdocs.yml
  src/components/console/mkdocs.yml
  src/components/dependency_injection/mkdocs.yml
  src/components/dotenv/mkdocs.yml
  src/components/event_dispatcher/mkdocs.yml
  src/components/framework/mkdocs.yml
  src/components/image_size/mkdocs.yml
  src/components/mercure/mkdocs.yml
  src/components/negotiation/mkdocs.yml
  src/components/routing/mkdocs.yml
  src/components/serializer/mkdocs.yml
  src/components/spec/mkdocs.yml
  src/components/validator/mkdocs.yml
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Open tab when running `serve` command Warn on invalid anchor references
  Makefile
  mkdocs-common.yml
Due: none

Upgrade `mkdocs` and `mkdocs-material` (athena-framework/athena#471)
  Makefile
  mkdocs-common.yml
  requirements.in
  requirements.txt
  src/components/clock/mkdocs.yml
  src/components/console/mkdocs.yml
  src/components/dependency_injection/mkdocs.yml
  src/components/dotenv/mkdocs.yml
  src/components/event_dispatcher/mkdocs.yml
  src/components/framework/mkdocs.yml
  src/components/image_size/mkdocs.yml
  src/components/mercure/mkdocs.yml
  src/components/negotiation/mkdocs.yml
  src/components/routing/mkdocs.yml
  src/components/serializer/mkdocs.yml
  src/components/spec/mkdocs.yml
  src/components/validator/mkdocs.yml
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Make CI also use `Makefile` for building docs
  .github/workflows/sync.yml
Due: none

Make CI also use `Makefile` for building docs (athena-framework/athena#472)
  .github/workflows/sync.yml
Due: none

Migrate `pages-action` to `wrangler-action`
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Migrate `pages-action` to `wrangler-action` (athena-framework/athena#473)
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Allow setting trusted hostnames
  src/components/framework/spec/request_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/request.cr
Due: framework

Add some docs
  src/components/framework/src/bundle.cr
  src/components/framework/src/request.cr
Due: framework

Trusted hosts (#474)
  src/components/framework/spec/request_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/request.cr
Due: framework

Leverage `URI::Params::Serializable` to handle form and query param resolution
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/request.cr
Due: framework

Doc and test pass
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/request_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/request.cr
Due: framework

More spec coverage
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
Due: framework

Add spec for missing query string values
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Better WWW form data support (athena-framework/athena#477)
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/request_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/request.cr
Due: framework

Update docs based on new query parameter implementation
  docs/getting_started/middleware.md
  docs/getting_started/routing.md
  docs/getting_started/testing.md
  src/components/framework/src/athena.cr
  src/components/framework/src/controller.cr
  src/components/framework/src/spec/api_test_case.cr
Due: framework

Fix some typos
  docs/getting_started/routing.md
Due: none

Update docs based on new query parameter implementation (athena-framework/athena#479)
  docs/getting_started/middleware.md
  docs/getting_started/routing.md
  docs/getting_started/testing.md
  src/components/framework/src/athena.cr
  src/components/framework/src/controller.cr
  src/components/framework/src/spec/api_test_case.cr
Due: framework

Fix redirection with non-standard ports
  src/components/framework/spec/controller/redirect_spec.cr
  src/components/framework/spec/routing_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/redirect.cr
Due: framework

Fix redirection with non-standard ports (athena-framework/athena#480)
  src/components/framework/spec/controller/redirect_spec.cr
  src/components/framework/spec/routing_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/redirect.cr
Due: framework

Make class level `ARTA::Route` annotation consistent with method level
  src/components/framework/spec/ext/routing/annotation_route_loader_spec.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
Due: framework

Make class level `ARTA::Route` annotation consistent with method level (athena-framework/athena#482)
  src/components/framework/spec/ext/routing/annotation_route_loader_spec.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
Due: framework

Add a usage for the `@[Assert::Blank]` constraint.
  src/components/validator/src/constraints/blank.cr
Due: validator

Add a usage for the `@[Assert::Choice]` constraint.
  src/components/validator/src/constraints/choice.cr
Due: validator

Add a usage for the `@[Assert::Email]` constraint.
  src/components/validator/src/constraints/email.cr
Due: validator

Add a usage for the `@[Assert::EqualTo]` constraint.
  src/components/validator/src/constraints/equal_to.cr
Due: validator

Add a usage for the `@[Assert::GreaterThanOrEqual]` constraint.
  src/components/validator/src/constraints/greater_than_or_equal.cr
Due: validator

Add a usage for the `@[Assert::GreaterThan]` constraint.
  src/components/validator/src/constraints/greater_than.cr
Due: validator

Add a usage for the `@[Assert::IP]` constraint.
  src/components/validator/src/constraints/ip.cr
Due: validator

Add a usage for the `@[Assert::IsFalse]` constraint.
  src/components/validator/src/constraints/is_false.cr
Due: validator

Add a usage for the `@[Assert::IsNil]` constraint.
  src/components/validator/src/constraints/is_nil.cr
Due: validator
