Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Remove `Focus` annotation
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
Due: framework

Rename property
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Fix typo
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
Due: framework

Additional `RequestBody` annotation properties (athena-framework/athena#486)
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/uuid.cr
  src/components/framework/src/ext/routing.cr
Due: framework

Only return exit code 1, if that's what the spec run did
  scripts/test.sh
Due: none

Only return exit code 1, if that's what the spec run did (athena-framework/athena#487)
  scripts/test.sh
Due: none

More robust console color support logic
  src/components/console/spec/helper/abstract_question_helper_test_case.cr
  src/components/console/src/output/io.cr
Due: console

Improved spec coverage
  src/components/console/spec/output/io_spec.cr
  src/components/console/spec/spec_helper.cr
Due: console

Fix duplicate spec name
  src/components/console/spec/output/io_spec.cr
  src/components/console/spec/spec_helper.cr
Due: console

More robust `console` color support logic (athena-framework/athena#488)
  src/components/console/spec/helper/abstract_question_helper_test_case.cr
  src/components/console/spec/output/io_spec.cr
  src/components/console/spec/spec_helper.cr
  src/components/console/src/output/io.cr
Due: console

Add `ACON::Output::Verbosity::SILENT`
  src/components/console/spec/commands/complete_spec.cr
  src/components/console/spec/commands/list_spec.cr
  src/components/console/spec/fixtures/text/application_1.txt
  src/components/console/spec/fixtures/text/application_2.txt
  src/components/console/spec/fixtures/text/application_filtered_namespace.txt
  src/components/console/spec/fixtures/text/application_run1.txt
  src/components/console/spec/fixtures/text/application_run2.txt
  src/components/console/spec/fixtures/text/application_run3.txt
  src/components/console/spec/fixtures/text/application_run5.txt
  src/components/console/src/application.cr
  src/components/console/src/output/null.cr
  src/components/console/src/output/verbosity.cr
Due: console

Bit more spec coverage
  src/components/console/spec/application_spec.cr
  src/components/console/spec/output/output_spec.cr
Due: console

Bit more spec coverage
  src/components/console/spec/output/null_spec.cr
Due: console

Add `ACON::Output::Verbosity::SILENT` verbosity level (athena-framework/athena#489)
  src/components/console/spec/application_spec.cr
  src/components/console/spec/commands/complete_spec.cr
  src/components/console/spec/commands/list_spec.cr
  src/components/console/spec/fixtures/text/application_1.txt
  src/components/console/spec/fixtures/text/application_2.txt
  src/components/console/spec/fixtures/text/application_filtered_namespace.txt
  src/components/console/spec/fixtures/text/application_run1.txt
  src/components/console/spec/fixtures/text/application_run2.txt
  src/components/console/spec/fixtures/text/application_run3.txt
  src/components/console/spec/fixtures/text/application_run5.txt
  src/components/console/spec/output/null_spec.cr
  src/components/console/spec/output/output_spec.cr
  src/components/console/src/application.cr
  src/components/console/src/output/null.cr
  src/components/console/src/output/verbosity.cr
Due: console

Raise more accurate request body resolver errors
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Raise more accurate `ATHR::RequestBody` deserialization errors (#490)
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Add request matcher for headers and query parameters
  src/components/framework/spec/request_matcher/header_spec.cr
  src/components/framework/spec/request_matcher/query_parameter_spec.cr
  src/components/framework/src/request_matcher/header.cr
  src/components/framework/src/request_matcher/query_parameter.cr
Due: framework

Add request matchers for headers and query parameters (athena-framework/athena#491)
  src/components/framework/spec/request_matcher/header_spec.cr
  src/components/framework/spec/request_matcher/query_parameter_spec.cr
  src/components/framework/src/request_matcher/header.cr
  src/components/framework/src/request_matcher/query_parameter.cr
Due: framework

Add and make `require_tld=true` the default for `URL` constraint
  src/components/validator/spec/constraints/url_validator_spec.cr
  src/components/validator/src/constraints/url.cr
Due: validator

Add and make `require_tld: true` the default for `AVD::Constraints::URL` constraint (athena-framework/athena#492)
  src/components/validator/spec/constraints/url_validator_spec.cr
  src/components/validator/src/constraints/url.cr
Due: validator

Add missing triple backticks to some constraint example codeblocks
  src/components/validator/src/constraints/size.cr
  src/components/validator/src/constraints/unique.cr
  src/components/validator/src/constraints/url.cr
Due: validator

Add missing triple backticks to some constraint example codeblocks (athena-framework/athena#493)
  src/components/validator/src/constraints/size.cr
  src/components/validator/src/constraints/unique.cr
  src/components/validator/src/constraints/url.cr
Due: validator

Bump min Crystal version to `~> 1.14` for `framework` component
  src/components/framework/shard.yml
Due: framework

Bump min Crystal version to `~> 1.14` for `framework` component (athena-framework/athena#494)
  src/components/framework/shard.yml
Due: framework

Fix typo
  src/components/validator/src/violation/constraint_violation_list.cr
Due: validator

Squashed 'src/components/mime/' content from commit 2eabbaf
  .editorconfig
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  mkdocs.yml
  shard.yml
  spec/athena-mime_spec.cr
  spec/spec_helper.cr
  src/athena-mime.cr
Due: none

Integrate component
  mkdocs.yml
  scripts/diff.sh
  scripts/release.sh
  scripts/repo.sh
  shard.dev.yml
  shard.prod.yml
  shard.yml
Due: none

Remove un-needed `mime` spec file
  src/components/mime/spec/athena-mime_spec.cr
Due: none

Add initial `docs/README.md` to `mime` component
  src/components/mime/.gitignore
  src/components/mime/docs/README.md
Due: none

Add initial `docs/README.md` to `mime` component (athena-framework/athena#497)
  src/components/mime/.gitignore
  src/components/mime/docs/README.md
Due: none

Get specs passing Clear old component coverage directory on each test run
  scripts/test.sh
  src/components/mime/spec/email_spec.cr
  src/components/mime/spec/message_spec.cr
  src/components/mime/src/header/parameterized.cr
Due: none

No actual need due to symlink Add `mime` component to `codecov` config
  codecov.yml
  scripts/test.sh
Due: none

message converter and more specs
  src/components/mime/spec/encoder/quoted_printable_mime_header_spec.cr
  src/components/mime/spec/header/date_spec.cr
  src/components/mime/spec/header/parameterized_spec.cr
  src/components/mime/spec/header/path_spec.cr
  src/components/mime/spec/message_converter_spec.cr
  src/components/mime/src/athena-mime.cr
  src/components/mime/src/email.cr
  src/components/mime/src/encoder/quoted_printable_mime_header.cr
  src/components/mime/src/exception/runtime.cr
  src/components/mime/src/header/collection.cr
  src/components/mime/src/message_converter.cr
Due: none

More specs
  src/components/mime/spec/header/collection_spec.cr
  src/components/mime/spec/message_spec.cr
  src/components/mime/src/exception/header_not_found.cr
  src/components/mime/src/header/collection.cr
Due: none

More specs
  src/components/mime/spec/email_spec.cr
  src/components/mime/spec/encoder/base64_content_spec.cr
  src/components/mime/spec/part/data_spec.cr
  src/components/mime/src/encoder/base64_content.cr
  src/components/mime/src/part/data.cr
  src/components/mime/src/part/text.cr
Due: none

More specs
  src/components/mime/spec/header/identification_spec.cr
  src/components/mime/spec/header/mailbox_list_spec.cr
  src/components/mime/spec/header/mailbox_spec.cr
  src/components/mime/spec/header/unstructured_spec.cr
  src/components/mime/src/address.cr
  src/components/mime/src/header/abstract.cr
  src/components/mime/src/header/mailbox.cr
  src/components/mime/src/header/mailbox_list.cr
Due: none

Support form-data parts More specs
  src/components/mime/spec/header/unstructured_spec.cr
  src/components/mime/spec/part/message_spec.cr
  src/components/mime/spec/part/multipart/alternative_spec.cr
  src/components/mime/spec/part/multipart/form_spec.cr
  src/components/mime/spec/part/multipart/mixed_spec.cr
  src/components/mime/spec/part/multipart/related_spec.cr
  src/components/mime/src/encoder/eight_bit_content.cr
  src/components/mime/src/header/abstract.cr
  src/components/mime/src/part/abstract_multipart.cr
  src/components/mime/src/part/message.cr
  src/components/mime/src/part/multipart/form.cr
  src/components/mime/src/part/text.cr
Due: none

Add `Digest` part
  src/components/mime/spec/part/multipart/digest_spec.cr
  src/components/mime/src/part/multipart/digest.cr
Due: none

Close IOs on finalize
  src/components/mime/src/part/text.cr
Due: none
