Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Only upload compiled specs on latest Crystal
  .github/workflows/ci.yml
Due: none

Ensure `kcov` is installed Limit code coverage generation to a single job
  .github/workflows/ci.yml
Due: none

Fix invalid config
  .github/workflows/ci.yml
Due: none

Fix compiled specs logic
  .github/workflows/ci.yml
Due: none

Fix compiled specs logic for real this time
  .github/workflows/ci.yml
Due: none

Enable kcov debug mode
  scripts/test.sh
Due: none

Try building from source on ubuntu Only generate coverage file, not the entire report Enable carryforward flags
  .github/workflows/ci.yml
  codecov.yml
  scripts/test.sh
Due: none

Try globbing directory
  .github/workflows/ci.yml
Due: none

Try using files with glob Run make with more cores
  .github/workflows/ci.yml
Due: none

Also upload junit reports
  .github/workflows/ci.yml
  scripts/test.sh
Due: none

Disable coverge generation by default
  scripts/test.sh
Due: none

Fix compiled test results logic
  .github/workflows/ci.yml
Due: none

Cleanup test.sh
  scripts/test.sh
Due: none

Code coverage reporting implementation (athena-framework/athena#451)
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  scripts/test.sh
Due: none

Automatically detect `kcov` Generate full reports outside of CI Add some extra test coverage to `ACLK`
  .github/workflows/ci.yml
  codecov.yml
  scripts/test.sh
  src/components/clock/spec/athena-clock_spec.cr
Due: clock

Add more `ACLK` specs
  src/components/clock/spec/athena-clock_spec.cr
Due: clock

Codecov tuning (athena-framework/athena#452)
  .github/workflows/ci.yml
  codecov.yml
  scripts/test.sh
  src/components/clock/spec/athena-clock_spec.cr
Due: clock

Make `ASPEC.assert_error` spec less strict
  src/components/spec/spec/methods_spec.cr
Due: spec

Make `ASPEC.assert_error` spec less strict (athena-framework/athena#454)
  src/components/spec/spec/methods_spec.cr
Due: spec

Skip uploading codecov reports on nightly CI
  .github/workflows/ci.yml
Due: none

Skip uploading codecov reports on nightly CI (athena-framework/athena#456)
  .github/workflows/ci.yml
Due: none

Generate missed lines via `unreachable` tool
  .github/workflows/ci.yml
  scripts/test.sh
Due: none

Properly tag some DI specs
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
Due: dependency_injection

Properly tag some DI specs (athena-framework/athena#459)
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
Due: dependency_injection

Try this?
  scripts/test.sh
Due: none

Generate report of missed lines via the `unreachable` tool (athena-framework/athena#458)
  .github/workflows/ci.yml
  scripts/test.sh
Due: none

Fix conflicting `image_size` test case method names
  src/components/image_size/spec/athena-image_size_spec.cr
Due: image_size

Run CI on commits to master Allows codecov to receive current HEAD information
  .github/workflows/ci.yml
Due: none

Run CI on commits to master (athena-framework/athena#461)
  .github/workflows/ci.yml
Due: none

Fix conflicting `image_size` test case method names (athena-framework/athena#460)
  src/components/image_size/spec/athena-image_size_spec.cr
Due: image_size

Ensure junit filename paths are relative to project root
  scripts/test.sh
Due: none

Start work on replacing runtime assertions with comptime assertions
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/ext/console/register_commands_spec.cr
Due: framework

Remove codegen: true from most DI specs
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
Due: dependency_injection

Remove codegen: true usages from extension_spec
  src/components/dependency_injection/spec/extension_spec.cr
Due: dependency_injection

Bump min ameba version Fix error
  shard.yml
  src/components/dotenv/src/athena-dotenv.cr
Due: dotenv

Bump min ameba version (athena-framework/athena#464)
  shard.yml
  src/components/dotenv/src/athena-dotenv.cr
Due: dotenv

Reduce usages of `codegen: true` in specs (athena-framework/athena#463)
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/ext/console/register_commands_spec.cr
Due: dependency_injection, framework
