Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Improve local dev DX by using `just` (athena-framework/athena#501)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  CONTRIBUTING.md
  Makefile
  justfile
  requirements.txt
Due: none

Update value resolver docs based on new scoping rules
  src/components/framework/src/controller/value_resolvers/interface.cr
Due: framework

Do not fail fast on formatter CI jobs
  .github/workflows/ci.yml
Due: none

Move property the proper place
  .github/workflows/ci.yml
Due: none

Do not fail fast on formatter CI jobs (athena-framework/athena#503)
  .github/workflows/ci.yml
Due: none

Use Crystal `latest` for generating coverage reports
  .github/workflows/ci.yml
Due: none

Use Crystal `latest` for generating coverage reports in CI (athena-framework/athena#504)
  .github/workflows/ci.yml
Due: none

Update value resolver docs based on new scoping rules (athena-framework/athena#502)
  src/components/framework/src/controller/value_resolvers/interface.cr
Due: framework

Bump `dependency_injection` component
  src/components/clock/CHANGELOG.md
  src/components/console/CHANGELOG.md
  src/components/dependency_injection/CHANGELOG.md
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/src/athena-dependency_injection.cr
Due: clock, console, dependency_injection

Bump `clock` component
  src/components/clock/CHANGELOG.md
  src/components/clock/UPGRADING.md
  src/components/clock/docs/README.md
  src/components/clock/shard.yml
  src/components/clock/src/athena-clock.cr
  src/components/console/shard.yml
  src/components/framework/shard.yml
Due: clock, console, framework

Bump `console` component
  src/components/console/CHANGELOG.md
  src/components/console/UPGRADING.md
  src/components/console/docs/README.md
  src/components/console/shard.yml
  src/components/console/src/athena-console.cr
  src/components/framework/shard.yml
Due: console, framework

Bump `dotenv` component
  src/components/dotenv/CHANGELOG.md
  src/components/dotenv/docs/README.md
  src/components/dotenv/shard.yml
  src/components/dotenv/src/athena-dotenv.cr
Due: dotenv

Bump `routing` component
  src/components/routing/CHANGELOG.md
  src/components/routing/shard.yml
  src/components/routing/src/athena-routing.cr
Due: routing

Bump `event_dispatcher` component
  src/components/event_dispatcher/CHANGELOG.md
  src/components/event_dispatcher/shard.yml
  src/components/event_dispatcher/src/athena-event_dispatcher.cr
Due: event_dispatcher

Reorder some CHANGELOG sections
  src/components/console/CHANGELOG.md
  src/components/validator/CHANGELOG.md
Due: console, validator

Bump `framework` component
  docs/getting_started/README.md
  src/components/framework/CHANGELOG.md
  src/components/framework/UPGRADING.md
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
Due: framework

Bump `serializer` component
  src/components/framework/shard.yml
  src/components/serializer/CHANGELOG.md
  src/components/serializer/UPGRADING.md
  src/components/serializer/docs/README.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
Due: framework, serializer

Bump `validator` component
  src/components/framework/shard.yml
  src/components/validator/CHANGELOG.md
  src/components/validator/UPGRADING.md
  src/components/validator/docs/README.md
  src/components/validator/shard.yml
  src/components/validator/src/athena-validator.cr
Due: framework, validator

Bump `negotiation` component
  src/components/framework/shard.yml
  src/components/negotiation/CHANGELOG.md
  src/components/negotiation/UPGRADING.md
  src/components/negotiation/docs/README.md
  src/components/negotiation/shard.yml
  src/components/negotiation/src/athena-negotiation.cr
Due: framework, negotiation

Bump `spec` component
  src/components/spec/CHANGELOG.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Due: spec

Bump `image_size` component
  src/components/image_size/CHANGELOG.md
  src/components/image_size/shard.yml
  src/components/image_size/src/athena-image_size.cr
Due: image_size

Update `UPGRADING.md` to be `dotenv` specific
  src/components/dotenv/UPGRADING.md
Due: dotenv

Add `dotenv` `UPGRADING.md`
  src/components/dotenv/UPGRADING.md
Due: dotenv

Bump `mime` component
  src/components/mime/CHANGELOG.md
Due: none

Set release date in changelogs
  src/components/clock/CHANGELOG.md
  src/components/console/CHANGELOG.md
  src/components/dependency_injection/CHANGELOG.md
  src/components/dotenv/CHANGELOG.md
  src/components/event_dispatcher/CHANGELOG.md
  src/components/framework/CHANGELOG.md
  src/components/image_size/CHANGELOG.md
  src/components/mime/CHANGELOG.md
  src/components/negotiation/CHANGELOG.md
  src/components/routing/CHANGELOG.md
  src/components/serializer/CHANGELOG.md
  src/components/spec/CHANGELOG.md
  src/components/validator/CHANGELOG.md
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, negotiation, routing, serializer, spec, validator

Add Query and Request param framework upgrading notes
  src/components/framework/UPGRADING.md
Due: framework

Centeralize handling of adding `of Type` to array values
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
Due: dependency_injection

Skip adding it if it already has one
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
Due: dependency_injection

Centralize handling of adding `of Type` to array values (athena-framework/athena#508)
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
Due: dependency_injection

Call out the `ADI::AsAlias` annotation must be applied as well
  docs/why_athena.md
Due: none

Call out the `ADI::AsAlias` annotation must be applied as well (athena-framework/athena#509)
  docs/why_athena.md
Due: none

Handle serialization where the valule has a different type than its ivar
  src/components/serializer/spec/athena-serializer_spec.cr
  src/components/serializer/spec/models/accessor.cr
  src/components/serializer/src/serializable.cr
Due: serializer

Fix serialization of value when its type is different type than the ivar (athena-framework/athena#514)
  src/components/serializer/spec/athena-serializer_spec.cr
  src/components/serializer/spec/models/accessor.cr
  src/components/serializer/src/serializable.cr
Due: serializer

Error if an `ASPEC::TeseCase` initializer has parameters or accepts a block
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/src/test_case.cr
Due: spec

Refactor internal usage to avoid constructor args
  src/components/framework/spec/spec/web_test_case_spec.cr
Due: framework

Prevent defining `ASPEC::TestCase#initialize` methods that accepts arguments/blocks (athena-framework/athena#516)
  src/components/framework/spec/spec/web_test_case_spec.cr
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/src/test_case.cr
Due: framework, spec

Disallow auto-registering services that were already manually registered
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
Due: dependency_injection

View handler is manually registered
  src/components/framework/src/view/view_handler.cr
Due: framework

Fix incorrectly aligned block
  src/components/console/src/helper/formatter.cr
Due: console
