Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Athena bot user now has access to MKDocs insiders repo
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Use Athena bot SSH key for the building docs jobs (athena-framework/athena#591)
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Use the athena fork
  requirements.in
  requirements.txt
Due: none

Use the athena fork of MKDocs Insiders (athena-framework/athena#592)
  requirements.in
  requirements.txt
Due: none

Fix some typos
  src/components/console/spec/fixtures/commands/test_ambiguous_command_registering1.cr
  src/components/console/spec/fixtures/commands/test_ambiguous_command_registering2.cr
  src/components/console/spec/helper/formatter_spec.cr
  src/components/framework/spec/listeners/error_spec.cr
Due: console, framework

Fix some internal facing typos (athena-framework/athena#593)
  src/components/console/spec/fixtures/commands/test_ambiguous_command_registering1.cr
  src/components/console/spec/fixtures/commands/test_ambiguous_command_registering2.cr
  src/components/console/spec/helper/formatter_spec.cr
  src/components/framework/spec/listeners/error_spec.cr
Due: console, framework

Use ARM runner for compiled tests
  .github/workflows/ci.yml
Due: none

Fix inproper handling of optional file uploads
  src/components/framework/spec/file_parser_spec.cr
  src/components/framework/src/file_parser.cr
Due: framework

Add change file
  .changes/unreleased/framework-Fixed-20251004-120556.yaml
Due: none

Bump `framework` component
  .changes/framework/v0.21.1.md
  .changes/unreleased/framework-Fixed-20251004-120556.yaml
  src/components/framework/CHANGELOG.md
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
Due: framework

Fix improper handling of optional file uploads (athena-framework/athena#595)
  .changes/framework/v0.21.1.md
  src/components/framework/CHANGELOG.md
  src/components/framework/shard.yml
  src/components/framework/spec/file_parser_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/file_parser.cr
Due: framework

Make `ATH::File#realpath` spec more robust
  src/components/framework/spec/file_spec.cr
Due: framework

Make `ATH::File#realpath` spec more robust (athena-framework/athena#598)
  src/components/framework/spec/file_spec.cr
Due: framework

Make `ASPEC.assert_compile_time_error` ENV var customization spec more robust
  src/components/spec/spec/methods_spec.cr
Due: spec

Make `ASPEC.assert_compile_time_error` ENV var customization spec more robust (athena-framework/athena#599)
  src/components/spec/spec/methods_spec.cr
Due: spec

Update routing regex monkeypatches to be compatible with Crystal 1.19
  src/components/routing/src/ext/regex.cr
Due: routing

Add changelog entry
  .changes/unreleased/routing-Fixed-20251022-211225.yaml
Due: none

Fix typo
  .changes/unreleased/routing-Fixed-20251022-211225.yaml
Due: none

Fix Crystal `1.19` incompatiblity (athena-framework/athena#600)
  .changes/unreleased/routing-Fixed-20251022-211225.yaml
  src/components/routing/src/ext/regex.cr
Due: routing

Fix mkdoc plugin incompatibilities
  requirements.in
  requirements.txt
Due: none

fixup! Fix mkdoc plugin incompatibilities
  requirements.txt
Due: none

Use new `changie` installation feature of `miniscruff/changie-action`
  .github/workflows/sync.yml
Due: none

Stop using Crystal docker container for ameba for consistency
  .github/workflows/ci.yml
Due: none

Fix API docs not navigating to parent namespace type pages (athena-framework/athena#601)
  .github/workflows/ci.yml
  .github/workflows/sync.yml
  requirements.in
  requirements.txt
Due: none

Bump `routing` component
  .changes/routing/v0.1.12.md
  .changes/unreleased/routing-Fixed-20251022-211225.yaml
  src/components/routing/CHANGELOG.md
  src/components/routing/shard.yml
  src/components/routing/src/athena-routing.cr
Due: routing

Bump `routing` component (athena-framework/athena#602)
  .changes/routing/v0.1.12.md
  .changes/unreleased/routing-Fixed-20251022-211225.yaml
  src/components/routing/CHANGELOG.md
  src/components/routing/shard.yml
  src/components/routing/src/athena-routing.cr
Due: routing

Use `v` prefixed changie version
  .github/workflows/sync.yml
Due: none

Fix release job in sync workflow (athena-framework/athena#603)
  .github/workflows/sync.yml
Due: none

Remove un-needed quotes around tag message
  .github/workflows/sync.yml
Due: none

Remove un-necessary quotes around the tag message (athena-framework/athena#604)
  .github/workflows/sync.yml
Due: none

Migrate to `uv` for managing python deps
  .github/workflows/release.yml
  .github/workflows/sync.yml
  .python-version
  CONTRIBUTING.md
  justfile
  pyproject.toml
  requirements.in
  requirements.txt
  uv.lock
Due: none

Some tweaks
  gen_doc_stubs.py
  justfile
  uv.lock
Due: none

Revert back to working dep versions for now
  gen_doc_stubs.py
  justfile
  pyproject.toml
  uv.lock
Due: none

Simplify `justfile` a bit
  justfile
Due: none

Upgrade python deps to latest versions
  gen_doc_stubs.py
  pyproject.toml
  uv.lock
Due: none

Use a more modern version of Python as the min version
  pyproject.toml
  uv.lock
Due: none

Migrate Python project to `uv` (#607)
  .github/workflows/release.yml
  .github/workflows/sync.yml
  .python-version
  CONTRIBUTING.md
  gen_doc_stubs.py
  justfile
  pyproject.toml
  requirements.in
  requirements.txt
  uv.lock
Due: none

Add Ubuntu ARM runner to `test_unit` CI job
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Hopefully fix CI
  .github/workflows/ci.yml
  src/components/console/spec/fixtures/text/application_renderexception3.txt
Due: console

Update one additional fixture
  src/components/console/spec/fixtures/text/application_renderexception3_decorated.txt
Due: console
