Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Scaffold initial implementation
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/request.cr
  src/components/framework/src/uploaded_file.cr
Due: framework

First pass integration into validator component
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/uploaded_file.cr
  src/components/validator/src/constraints/file.cr
Due: framework, validator

Leverage `contracts` component to share common code
  src/components/contracts/src/common/framework.cr
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/mkdocs.yml
  src/components/framework/src/athena.cr
  src/components/framework/src/file_parser.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/uploaded_file.cr
  src/components/validator/shard.yml
  src/components/validator/src/constraints/file.cr
Due: framework, validator

Fix some issues in the docs
  docs/guides/README.md
  docs/why_athena.md
  src/components/framework/src/commands/debug_event_dispatcher.cr
Due: framework

Fix some issues in the docs (athena-framework/athena#547)
  docs/guides/README.md
  docs/why_athena.md
  src/components/framework/src/commands/debug_event_dispatcher.cr
Due: framework

Better handle error uploads
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/file_parser.cr
  src/components/validator/src/constraints/image.cr
  src/components/validator/src/validator/recursive_contextual_validator.cr
Due: framework, validator

Wire up bundle config
  src/components/contracts/src/common/framework/uploaded_file.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/file_parser.cr
  src/components/framework/src/listeners/file.cr
Due: framework

Relax DI argument validation for string parameters
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
Due: dependency_injection

Relax DI argument validation for string parameters (athena-framework/athena#548)
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
Due: dependency_injection

Remove too broad regex preventing detection of short word typos
  .typos.toml
  gen_doc_stubs.py
  src/components/mime/spec/encoder/base64_content_spec.cr
Due: none

Remove too broad regex preventing detection of short word typos (athena-framework/athena#549)
  .typos.toml
  gen_doc_stubs.py
  src/components/mime/spec/encoder/base64_content_spec.cr
Due: none

Fix state leaking from `console` specs with some specific seeds
  src/components/console/spec/helper/question_spec.cr
  src/components/console/spec/spec_helper.cr
  src/components/console/src/helper/question.cr
  src/components/console/src/terminal.cr
Due: console

Fix state leaking from `console` specs with some specific seeds (athena-framework/athena#550)
  src/components/console/spec/helper/question_spec.cr
  src/components/console/spec/spec_helper.cr
  src/components/console/src/helper/question.cr
  src/components/console/src/terminal.cr
Due: console

First pass at `macro_code_coverage` tool integration
  .github/workflows/ci.yml
  scripts/test.sh
  src/components/console/spec/compiler_spec.cr
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/spec/compiler_passes/register_services_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_parameter_placeholders_spec.cr
  src/components/dependency_injection/spec/compiler_passes/resolve_values_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_generics_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/event_dispatcher/spec/compiler_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/ext/console/register_commands_spec.cr
  src/components/routing/spec/requirement/enum_spec.cr
  src/components/spec/CHANGELOG.md
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/methods.cr
Due: console, dependency_injection, event_dispatcher, framework, routing, spec

Break `ASPEC::Methods.assert_success` into two dedicated methods
  scripts/test.sh
  src/components/dependency_injection/spec/compiler_passes/merge_configs_spec.cr
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/spec/compiler_passes/normalize_definitions_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_parameters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/validate_arguments_spec.cr
  src/components/dependency_injection/spec/extension_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/ext/console/register_commands_spec.cr
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/methods.cr
Due: dependency_injection, framework, spec

Some cleanup and polish
  src/components/dependency_injection/spec/compiler_passes/merge_configs_spec.cr
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/ext/console/register_commands_spec.cr
  src/components/spec/CHANGELOG.md
Due: dependency_injection, framework, spec

Bump shard Doc updates
  shard.yml
  src/components/spec/CHANGELOG.md
  src/components/spec/UPGRADING.md
  src/components/spec/docs/README.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
  src/components/spec/src/methods.cr
Due: spec

Use spec file + line in report output file name instead of timestamp
  src/components/spec/src/methods.cr
Due: spec

Always cleanup/override `COLUMNS` env var
  src/components/console/spec/application_spec.cr
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/console/spec/style/athena_style_spec.cr
Due: console

Always cleanup/override `COLUMNS` env var (athena-framework/athena#552)
  src/components/console/spec/application_spec.cr
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/console/spec/style/athena_style_spec.cr
Due: console

Use scheduled CI on `master` for status badge
  README.md
  src/components/clock/README.md
  src/components/console/README.md
  src/components/contracts/README.md
  src/components/dependency_injection/README.md
  src/components/dotenv/README.md
  src/components/event_dispatcher/README.md
  src/components/framework/README.md
  src/components/image_size/README.md
  src/components/mercure/README.md
  src/components/mime/README.md
  src/components/negotiation/README.md
  src/components/routing/README.md
  src/components/serializer/README.md
  src/components/spec/README.md
  src/components/validator/README.md
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Use scheduled CI on `master` for status badge (athena-framework/athena#553)
  README.md
  src/components/clock/README.md
  src/components/console/README.md
  src/components/contracts/README.md
  src/components/dependency_injection/README.md
  src/components/dotenv/README.md
  src/components/event_dispatcher/README.md
  src/components/framework/README.md
  src/components/image_size/README.md
  src/components/mercure/README.md
  src/components/mime/README.md
  src/components/negotiation/README.md
  src/components/routing/README.md
  src/components/serializer/README.md
  src/components/spec/README.md
  src/components/validator/README.md
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Leverage var for picking when channel to run coverage reporting on
  .github/workflows/ci.yml
Due: none

Avoid suffix conditionals with macro raise
  src/components/console/src/helper/helper_set.cr
  src/components/console/src/question/base.cr
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
  src/components/dependency_injection/src/compiler_passes/register_services.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
  src/components/framework/src/abstract_bundle.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
  src/components/routing/src/requirement/enum.cr
Due: console, dependency_injection, event_dispatcher, framework, routing

Handle optional files
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Add coverage for missing lines
  src/components/console/spec/helper/helper_set_spec.cr
  src/components/console/spec/question/question_spec.cr
  src/components/dependency_injection/spec/athena-dependency_injection_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
  src/components/event_dispatcher/spec/event_dispatcher_spec.cr
  src/components/framework/spec/abstract_bundle_spec.cr
  src/components/framework/src/abstract_bundle.cr
Due: console, dependency_injection, event_dispatcher, framework

Resolve last missed line
  src/components/spec/spec/methods_spec.cr
Due: spec

Fix typo
  src/components/serializer/spec/navigators/deserialization_navigator_spec.cr
Due: serializer

Symlink `lib` instead of mucking with `CRYSTAL_PATH`
  .gitignore
  justfile
  src/components/clock/mkdocs.yml
  src/components/console/mkdocs.yml
  src/components/contracts/mkdocs.yml
  src/components/dependency_injection/mkdocs.yml
  src/components/dotenv/mkdocs.yml
  src/components/event_dispatcher/mkdocs.yml
  src/components/framework/mkdocs.yml
  src/components/image_size/mkdocs.yml
  src/components/mercure/mkdocs.yml
  src/components/mime/mkdocs.yml
  src/components/negotiation/mkdocs.yml
  src/components/routing/mkdocs.yml
  src/components/serializer/mkdocs.yml
  src/components/spec/mkdocs.yml
  src/components/validator/mkdocs.yml
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Fix missing `View source` link in API docs (athena-framework/athena#555)
  .gitignore
  justfile
  src/components/clock/mkdocs.yml
  src/components/console/mkdocs.yml
  src/components/contracts/mkdocs.yml
  src/components/dependency_injection/mkdocs.yml
  src/components/dotenv/mkdocs.yml
  src/components/event_dispatcher/mkdocs.yml
  src/components/framework/mkdocs.yml
  src/components/image_size/mkdocs.yml
  src/components/mercure/mkdocs.yml
  src/components/mime/mkdocs.yml
  src/components/negotiation/mkdocs.yml
  src/components/routing/mkdocs.yml
  src/components/serializer/mkdocs.yml
  src/components/spec/mkdocs.yml
  src/components/validator/mkdocs.yml
Due: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Unlink `lib/lib` before building docs
  justfile
Due: none

Unlink `lib/lib` before building docs (athena-framework/athena#556)
  justfile
Due: none

create temp workflow for debugging
  .github/workflows/docs.yml
Due: none

Comment out `ci` workflow for now
  .github/workflows/ci.yml
Due: none

Try being more specific with source dir
  justfile
Due: none

Revert temp changes
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

Fix `Symbolic link loop` error when building docs in CI (athena-framework/athena#557)
  justfile
Due: none

Add informational min rystal version to root `shard.yml`
  shard.yml
Due: none

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
