Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Ensure git user information and commit is available
  .github/workflows/sync.yml
Due: none

Make bash script more strict
  .github/workflows/sync.yml
Due: none

Improve sync GHA workflow (athena-framework/athena#577)
  .github/workflows/sync.yml
  scripts/diff.sh
  scripts/repo.sh
  src/components/clock/src/aware.cr
Due: clock

Use proper matrix key
  .github/workflows/sync.yml
  src/components/clock/src/aware.cr
Due: clock

Fix broken `pick-docs` job (athena-framework/athena#578)
  .github/workflows/sync.yml
  src/components/clock/src/aware.cr
Due: clock

Fix permission issue when running `git push`
  .github/workflows/sync.yml
Due: none

Remove additional usage
  .github/workflows/release.yml
Due: none

Update docs again
  src/components/clock/src/aware.cr
Due: clock

Fix permission issue in `pick-docs` when running `git push` (athena-framework/athena#579)
  .github/workflows/release.yml
  .github/workflows/sync.yml
  src/components/clock/src/aware.cr
Due: clock

Restore usages of `ssh-agent` for building docs Clone the repo before running `gh workflow run`
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Final new sync GHA workflow tweaks (athena-framework/athena#580)
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Harden GHA workflows by pinning deps to specific commits
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Harden GHA workflows by pinning deps to specific commits (athena-framework/athena#581)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none

Remove unreleased `spec` version from changelog file
  .changes/spec/v0.3.11.md
Due: none

Revert versions back to `0.3.11.`
  src/components/spec/CHANGELOG.md
  src/components/spec/docs/README.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Due: spec

Revert unexpected changes to `spec` component (athena-framework/athena#582)
  .changes/spec/v0.3.11.md
  src/components/spec/CHANGELOG.md
  src/components/spec/docs/README.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Due: spec

First pass at automating releases
  .changes/dependency-injection/v0.4.3.md
  .changes/event-dispatcher/v0.3.1.md
  .changes/image-size/v0.1.4.md
  .changes/serializer/v0.0.0.md
  .changes/unreleased/framework-Changed-20250809-214316.yaml
  .changes/unreleased/spec-Removed-20250809-213131.yaml
  .changes/unreleased/spec-Removed-20250809-213145.yaml
  .changie.yaml
  .github/workflows/docs.yml
  .github/workflows/sync.yml
Due: none

Start SSH agent?
  .github/workflows/docs.yml
Due: none

Give GH token write permissions
  .github/workflows/docs.yml
Due: none

Use PAT for authorizing `gh` CLI
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

Fix `gh` command
  .github/workflows/docs.yml
Due: none

Fix release notes file
  .changes/serializer/v0.0.0.md
  .github/workflows/docs.yml
Due: none

Use GH usernames in release notes
  .changes/serializer/v0.0.0.md
  .github/workflows/docs.yml
Due: none

Test getting tag from changie itself
  .changes/serializer/v0.0.0.md
  .github/workflows/docs.yml
Due: none

fixup! Test getting tag from changie itself
  .github/workflows/docs.yml
Due: none

Merge workflow back into `sync.yml`
  .github/workflows/docs.yml
  .github/workflows/sync.yml
Due: none

Rename unreleased changelog entries
  .changes/unreleased/dependency-injection-Changed-20250809-214717.yaml
  .changes/unreleased/event-dispatcher-Changed-20250809-213926.yaml
  .changes/unreleased/event-dispatcher-Removed-20250809-213941.yaml
Due: none

Uncomment `ci.yml`
  .github/workflows/ci.yml
Due: none

Delete old release script
  scripts/_common.sh
  scripts/release.sh
Due: none

Automate release process (athena-framework/athena#583)
  .changes/dependency-injection/v0.4.3.md
  .changes/event-dispatcher/v0.3.1.md
  .changes/image-size/v0.1.4.md
  .changes/unreleased/dependency-injection-Changed-20250809-214717.yaml
  .changes/unreleased/event-dispatcher-Changed-20250809-213926.yaml
  .changes/unreleased/event-dispatcher-Removed-20250809-213941.yaml
  .changes/unreleased/framework-Changed-20250809-214316.yaml
  .changes/unreleased/spec-Removed-20250809-213131.yaml
  .changes/unreleased/spec-Removed-20250809-213145.yaml
  .changie.yaml
  .github/workflows/sync.yml
  scripts/_common.sh
  scripts/release.sh
Due: none

Batch changelogs
  .changes/console/v0.4.2.md
  .changes/dependency-injection/v0.4.4.md
  .changes/event-dispatcher/v0.4.0.md
  .changes/framework/v0.21.0.md
  .changes/mime/v0.2.1.md
  .changes/routing/v0.1.11.md
  .changes/spec/v0.4.0.md
  .changes/unreleased/console-Added-20250809-214752.yaml
  .changes/unreleased/console-Added-20250809-214818.yaml
  .changes/unreleased/console-Added-20250809-214910.yaml
  .changes/unreleased/console-Fixed-20250809-214835.yaml
  .changes/unreleased/dependency-injection-Changed-20250809-214717.yaml
  .changes/unreleased/event-dispatcher-Changed-20250809-213926.yaml
  .changes/unreleased/event-dispatcher-Removed-20250809-213941.yaml
  .changes/unreleased/framework-Added-20250809-214012.yaml
  .changes/unreleased/framework-Added-20250809-214228.yaml
  .changes/unreleased/framework-Changed-20250809-212756.yaml
  .changes/unreleased/framework-Changed-20250809-214042.yaml
  .changes/unreleased/framework-Changed-20250809-214300.yaml
  .changes/unreleased/framework-Changed-20250809-214316.yaml
  .changes/unreleased/framework-Fixed-20250809-213839.yaml
  .changes/unreleased/mime-Added-20250809-214414.yaml
  .changes/unreleased/routing-Fixed-20250809-213734.yaml
  .changes/unreleased/spec-Added-20250809-213446.yaml
  .changes/unreleased/spec-Removed-20250809-213045.yaml
  .changes/unreleased/spec-Removed-20250809-213131.yaml
  .changes/unreleased/spec-Removed-20250809-213145.yaml
  .changes/unreleased/validator-Added-20250808-184716.yaml
  .changes/unreleased/validator-Added-20250809-212939.yaml
  .changes/unreleased/validator-Changed-20250809-212737.yaml
  .changes/unreleased/validator-Fixed-20250808-184758.yaml
  .changes/validator/v0.4.1.md
  .changie.yaml
Due: none

Merge changelogs
  docs/getting_started/README.md
  src/components/console/CHANGELOG.md
  src/components/console/shard.yml
  src/components/console/src/athena-console.cr
  src/components/dependency_injection/CHANGELOG.md
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/event_dispatcher/CHANGELOG.md
  src/components/event_dispatcher/docs/README.md
  src/components/event_dispatcher/shard.yml
  src/components/event_dispatcher/src/athena-event_dispatcher.cr
  src/components/framework/CHANGELOG.md
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
  src/components/mime/CHANGELOG.md
  src/components/mime/shard.yml
  src/components/mime/src/athena-mime.cr
  src/components/routing/CHANGELOG.md
  src/components/routing/shard.yml
  src/components/routing/src/athena-routing.cr
  src/components/spec/CHANGELOG.md
  src/components/spec/docs/README.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
  src/components/validator/CHANGELOG.md
  src/components/validator/shard.yml
  src/components/validator/src/athena-validator.cr
Due: console, dependency_injection, event_dispatcher, framework, routing, spec, validator

Dont be as specific in asserting exception message
  src/components/serializer/spec/serializer_spec.cr
  src/components/serializer/src/visitors/deserialization_visitor.cr
Due: serializer

Fix failing nightly `serializer` spec (athena-framework/athena#588)
  src/components/serializer/spec/serializer_spec.cr
  src/components/serializer/src/visitors/deserialization_visitor.cr
Due: serializer

Update README.md
  src/components/console/docs/README.md
Due: console

Fix incorrect console getting started docs (athena-framework/athena#589)
  src/components/console/docs/README.md
Due: console

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
