Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Add a usage for the `@[Assert::IsTrue]` constraint.
  src/components/validator/src/constraints/is_true.cr
Due: validator

Add a usage for the `@[Assert::ISBN]` constraint.
  src/components/validator/src/constraints/isbn.cr
Due: validator

Add a usage for the `@[Assert::ISIN]` constraint.
  src/components/validator/src/constraints/isin.cr
Due: validator

Add a usage for the `@[Assert::ISSN]` constraint.
  src/components/validator/src/constraints/issn.cr
Due: validator

Add a usage for the `@[Assert::LessThanOrEqual]` constraint.
  src/components/validator/src/constraints/less_than_or_equal.cr
Due: validator

Add a usage for the `@[Assert::LessThan]` constraint.
  src/components/validator/src/constraints/less_than.cr
Due: validator

Add a usage for the `@[Assert::Luhn]` constraint.
  src/components/validator/src/constraints/luhn.cr
Due: validator

Add a usage for the `@[Assert::NegativeOrZero]` constraint.
  src/components/validator/src/constraints/negative_or_zero.cr
Due: validator

Add a usage for the `@[Assert::Negative]` constraint.
  src/components/validator/src/constraints/negative.cr
Due: validator

Add a usage for the `@[Assert::NotBlank]` constraint.
  src/components/validator/src/constraints/not_blank.cr
Due: validator

Add a usage for the `@[Assert::NotEqualTo]` constraint.
  src/components/validator/src/constraints/not_equal_to.cr
Due: validator

Add a usage for the `@[Assert::NotNil]` constraint.
  src/components/validator/src/constraints/not_nil.cr
Due: validator

Add a usage for the `@[Assert::Optional]` constraint.
  src/components/validator/src/constraints/optional.cr
Due: validator

Add a usage for the `@[Assert::PositiveOrZero]` constraint.
  src/components/validator/src/constraints/positive_or_zero.cr
Due: validator

Add a usage for the `@[Assert::Positive]` constraint.
  src/components/validator/src/constraints/positive.cr
Due: validator

Add a usage for the `@[Assert::Range]` constraint.
  src/components/validator/src/constraints/range.cr
Due: validator

Add a usage for the `@[Assert::Regex]` constraint.
  src/components/validator/src/constraints/regex.cr
Due: validator

Add a usage for the `@[Assert::Required]` constraint.
  src/components/validator/src/constraints/required.cr
Due: validator

Add a usage for the `@[Assert::Size]` constraint.
  src/components/validator/src/constraints/size.cr
Due: validator

Add a usage for the `@[Assert::Unique]` constraint.
  src/components/validator/src/constraints/unique.cr
Due: validator

Add a usage for the `@[Assert::URL]` constraint.
  src/components/validator/src/constraints/url.cr
Due: validator

Add a usage for the `@[Assert::File]` constraint.
  src/components/validator/src/constraints/file.cr
Due: validator

Add a usage for the `@[Assert::Image]` constraint.
  src/components/validator/src/constraints/image.cr
Due: validator

Documentation format for all constraints.
  src/components/validator/src/constraints/blank.cr
  src/components/validator/src/constraints/choice.cr
  src/components/validator/src/constraints/email.cr
  src/components/validator/src/constraints/equal_to.cr
  src/components/validator/src/constraints/file.cr
  src/components/validator/src/constraints/greater_than.cr
  src/components/validator/src/constraints/greater_than_or_equal.cr
  src/components/validator/src/constraints/image.cr
  src/components/validator/src/constraints/ip.cr
  src/components/validator/src/constraints/is_false.cr
  src/components/validator/src/constraints/is_nil.cr
  src/components/validator/src/constraints/is_true.cr
  src/components/validator/src/constraints/isbn.cr
  src/components/validator/src/constraints/isin.cr
  src/components/validator/src/constraints/issn.cr
  src/components/validator/src/constraints/less_than.cr
  src/components/validator/src/constraints/less_than_or_equal.cr
  src/components/validator/src/constraints/luhn.cr
  src/components/validator/src/constraints/negative.cr
  src/components/validator/src/constraints/negative_or_zero.cr
  src/components/validator/src/constraints/not_blank.cr
  src/components/validator/src/constraints/not_equal_to.cr
  src/components/validator/src/constraints/not_nil.cr
  src/components/validator/src/constraints/optional.cr
  src/components/validator/src/constraints/positive.cr
  src/components/validator/src/constraints/positive_or_zero.cr
  src/components/validator/src/constraints/range.cr
  src/components/validator/src/constraints/regex.cr
  src/components/validator/src/constraints/required.cr
  src/components/validator/src/constraints/size.cr
  src/components/validator/src/constraints/unique.cr
  src/components/validator/src/constraints/url.cr
Due: validator

Try moving `athena-spec` require earlier
  src/components/framework/spec/spec_helper.cr
Due: framework

Try requiring `athena-spec` in the file its used?
  src/components/framework/spec/spec/web_test_case_spec.cr
Due: framework

See if ensuring `spec_helper` is required first fixes it?
  scripts/test.sh
  src/components/framework/spec/spec/web_test_case_spec.cr
Due: framework

Simplify CI job Add error traces try diff require order
  .github/workflows/ci.yml
  scripts/test.sh
  src/components/framework/spec/spec_helper.cr
Due: framework

Use FQN?
  src/components/framework/spec/spec/web_test_case_spec.cr
Due: framework

Try this?
  scripts/test.sh
Due: none

Require `spec_helper`
  scripts/test.sh
  src/components/framework/spec/spec/web_test_case_spec.cr
Due: framework

Debug require order
  .github/workflows/ci.yml
  src/components/framework/spec/spec/web_test_case_spec.cr
Due: framework

Remove debug stuff
  .github/workflows/ci.yml
  src/components/framework/spec/spec/web_test_case_spec.cr
  src/components/framework/spec/spec_helper.cr
Due: framework

Add missing `spec_helper` require within `web_test_case_spec.cr` (athena-framework/athena#484)
  src/components/framework/spec/spec/web_test_case_spec.cr
  src/components/framework/spec/spec_helper.cr
Due: framework

Fix some incorrect exit codes when using `scripts/test.sh` in some cases
  scripts/test.sh
Due: none

Fix some incorrect exit codes when using `scripts/test.sh` in some cases (athena-framework/athena#485)
  scripts/test.sh
Due: none

Delete examples for the `@[Assert::Required]` and `@[Assert::Optional]` constraints.
  src/components/validator/src/constraints/optional.cr
  src/components/validator/src/constraints/required.cr
Due: validator

Add example usages to `AVD::Constraints` docs (athena-framework/athena#483)
  src/components/validator/src/constraints/blank.cr
  src/components/validator/src/constraints/choice.cr
  src/components/validator/src/constraints/email.cr
  src/components/validator/src/constraints/equal_to.cr
  src/components/validator/src/constraints/file.cr
  src/components/validator/src/constraints/greater_than.cr
  src/components/validator/src/constraints/greater_than_or_equal.cr
  src/components/validator/src/constraints/image.cr
  src/components/validator/src/constraints/ip.cr
  src/components/validator/src/constraints/is_false.cr
  src/components/validator/src/constraints/is_nil.cr
  src/components/validator/src/constraints/is_true.cr
  src/components/validator/src/constraints/isbn.cr
  src/components/validator/src/constraints/isin.cr
  src/components/validator/src/constraints/issn.cr
  src/components/validator/src/constraints/less_than.cr
  src/components/validator/src/constraints/less_than_or_equal.cr
  src/components/validator/src/constraints/luhn.cr
  src/components/validator/src/constraints/negative.cr
  src/components/validator/src/constraints/negative_or_zero.cr
  src/components/validator/src/constraints/not_blank.cr
  src/components/validator/src/constraints/not_equal_to.cr
  src/components/validator/src/constraints/not_nil.cr
  src/components/validator/src/constraints/positive.cr
  src/components/validator/src/constraints/positive_or_zero.cr
  src/components/validator/src/constraints/range.cr
  src/components/validator/src/constraints/regex.cr
  src/components/validator/src/constraints/size.cr
  src/components/validator/src/constraints/unique.cr
  src/components/validator/src/constraints/url.cr
Due: validator

Add new parameters and docs
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/uuid.cr
  src/components/framework/src/ext/routing.cr
Due: framework

Add implementation and spec coverage
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
Due: framework

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
