Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Allow customizing the finished state of an `ACON::Helper::ProgressIndicator` (athena-framework/athena#535)
  src/components/console/spec/helper/progress_indicator_spec.cr
  src/components/console/src/helper/progress_indicator.cr
Due: console

Add `markdown` `ACON::Helper::Table` style
  src/components/console/spec/fixtures/helper/table/markdown.txt
  src/components/console/spec/helper/table_spec.cr
  src/components/console/src/helper/table.cr
  src/components/console/src/helper/table_style.cr
Due: console

Add `markdown` `ACON::Helper::Table` style (athena-framework/athena#536)
  src/components/console/spec/fixtures/helper/table/markdown.txt
  src/components/console/spec/helper/table_spec.cr
  src/components/console/src/helper/table.cr
  src/components/console/src/helper/table_style.cr
Due: console

Fix `ACON::Helper::ProgressBar` messing up output in console section with EOL
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/console/src/helper/progress_bar.cr
Due: console

Fix `ACON::Helper::ProgressBar` messing up output in console section with EOL (athena-framework/athena#537)
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/console/src/helper/progress_bar.cr
Due: console

Fix duplicate test case runs with abstract generic parent test case
  src/components/spec/spec/athena-spec_spec.cr
  src/components/spec/src/athena-spec.cr
Due: spec

Bump version
  src/components/spec/CHANGELOG.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Due: spec

Add comment
  src/components/spec/src/athena-spec.cr
Due: spec

Fix duplicate test case runs with abstract generic parent test case (athena-framework/athena#538)
  src/components/spec/CHANGELOG.md
  src/components/spec/shard.yml
  src/components/spec/spec/athena-spec_spec.cr
  src/components/spec/src/athena-spec.cr
Due: spec

Initial implementation
  src/components/validator/spec/spec/compound_constraint_test_case_spec.cr
  src/components/validator/src/spec.cr
  src/components/validator/src/spec/compound_constraint_test_case.cr
Due: validator

Fix equality of `AVD::Constraint` instances More test coverage/fixes
  src/components/validator/spec/spec/compound_constraint_test_case_spec.cr
  src/components/validator/src/constraint.cr
  src/components/validator/src/spec/compound_constraint_test_case.cr
Due: validator

Doc pass
  src/components/validator/spec/spec/compound_constraint_test_case_spec.cr
  src/components/validator/src/spec/compound_constraint_test_case.cr
Due: validator

Add `AVD::Spec::CompoundConstraintTestCase` (athena-framework/athena#540)
  src/components/validator/spec/spec/compound_constraint_test_case_spec.cr
  src/components/validator/src/constraint.cr
  src/components/validator/src/spec.cr
  src/components/validator/src/spec/compound_constraint_test_case.cr
Due: validator

Squashed 'src/components/contracts/' content from commit 816d36b
  .editorconfig
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/README.md
  mkdocs.yml
  shard.yml
  spec/spec_helper.cr
  src/athena-COMPONENT_NAME.cr
Due: none

Integrate package
  docs/README.md
  mkdocs.yml
  scripts/diff.sh
  scripts/release.sh
  scripts/repo.sh
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/components/contracts/CHANGELOG.md
  src/components/contracts/LICENSE
  src/components/contracts/README.md
  src/components/contracts/docs/README.md
  src/components/contracts/mkdocs.yml
  src/components/contracts/shard.yml
  src/components/contracts/spec/spec_helper.cr
  src/components/contracts/src/athena-COMPONENT_NAME.cr
  src/components/contracts/src/athena-contracts.cr
Due: none

fixup! Integrate package
  src/components/contracts/spec/.gitkeep
Due: none

Squashed 'src/components/contracts/' content from commit 6c3be1a
  CHANGELOG.md
  spec/spec_helper.cr
  src/athena-COMPONENT_NAME.cr
Due: none

Integrate package
  CHANGELOG.md
  docs/README.md
  mkdocs.yml
  scripts/diff.sh
  scripts/release.sh
  scripts/repo.sh
  shard.dev.yml
  shard.prod.yml
  shard.yml
  spec/spec_helper.cr
  src/athena-COMPONENT_NAME.cr
  src/components/contracts/LICENSE
  src/components/contracts/README.md
  src/components/contracts/docs/README.md
  src/components/contracts/mkdocs.yml
  src/components/contracts/shard.yml
  src/components/contracts/spec/.gitkeep
  src/components/contracts/src/athena-contracts.cr
Due: none

Fix typo in the introduction.
  mkdocs.yml
Due: none

Fix typo in the ivar name on the "Commands" doc.
  docs/getting_started/commands.md
Due: none

Add docs to event dispatcher interface module
  src/components/contracts/src/contracts/event_dispatcher/interface.cr
  src/components/event_dispatcher/docs/README.md
Due: event_dispatcher

First pass
  docs/README.md
  src/components/contracts/docs/README.md
  src/components/contracts/src/alias.cr
  src/components/contracts/src/athena-contracts.cr
  src/components/contracts/src/contracts/event_dispatcher/event.cr
  src/components/contracts/src/contracts/event_dispatcher/interface.cr
  src/components/contracts/src/contracts/event_dispatcher/stoppable_event.cr
  src/components/contracts/src/event_dispatcher.cr
  src/components/event_dispatcher/docs/README.md
  src/components/event_dispatcher/shard.yml
  src/components/event_dispatcher/src/athena-event_dispatcher.cr
  src/components/event_dispatcher/src/event.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
  src/components/event_dispatcher/src/event_dispatcher_interface.cr
  src/components/event_dispatcher/src/stoppable_event.cr
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
  src/components/framework/src/ext/console/application.cr
  src/components/framework/src/ext/event_dispatcher.cr
  src/components/framework/src/route_handler.cr
Due: event_dispatcher, framework

Update stoppable event reference
  src/components/event_dispatcher/src/event_dispatcher.cr
Due: event_dispatcher

Final fixes
  src/components/event_dispatcher/src/event.cr
  src/components/framework/shard.yml
Due: event_dispatcher, framework

Contracts integration (athena-framework/athena#544)
  docs/README.md
  src/components/contracts/docs/README.md
  src/components/contracts/src/alias.cr
  src/components/contracts/src/athena-contracts.cr
  src/components/contracts/src/contracts/event_dispatcher/event.cr
  src/components/contracts/src/contracts/event_dispatcher/interface.cr
  src/components/contracts/src/contracts/event_dispatcher/stoppable_event.cr
  src/components/contracts/src/event_dispatcher.cr
  src/components/event_dispatcher/docs/README.md
  src/components/event_dispatcher/shard.yml
  src/components/event_dispatcher/src/athena-event_dispatcher.cr
  src/components/event_dispatcher/src/event.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
  src/components/event_dispatcher/src/event_dispatcher_interface.cr
  src/components/event_dispatcher/src/stoppable_event.cr
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
  src/components/framework/src/ext/console/application.cr
  src/components/framework/src/ext/event_dispatcher.cr
  src/components/framework/src/route_handler.cr
Due: event_dispatcher, framework

Fix typos on the documentation (athena-framework/athena#543)
  docs/getting_started/commands.md
  mkdocs.yml
Due: none

First pass integration into validator component
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/uploaded_file.cr
  src/components/validator/src/constraints/file.cr
Due: framework, validator

Scaffold initial implementation
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/listeners/file.cr
  src/components/framework/src/request.cr
  src/components/framework/src/uploaded_file.cr
Due: framework

More robust `AVD::Constraints::File` MIME type validation
  src/components/validator/shard.yml
  src/components/validator/src/constraints/file.cr
Due: validator

Also leverage `mime` component in `ATH::BinaryFileResponse`
  src/components/framework/shard.yml
  src/components/framework/src/binary_file_response.cr
Due: framework

Add fallback MIME types guesser based on stdlib `MIME` module
  src/components/mime/spec/native_types_guessuer_spec.cr
  src/components/mime/src/athena-mime.cr
  src/components/mime/src/magic_types_guesser.cr
  src/components/mime/src/native_types_guesser.cr
  src/components/mime/src/types.cr
Due: none

Scope `NativeTypesGuesser` to MSVC Windows
  src/components/mime/src/native_types_guesser.cr
  src/components/mime/src/types.cr
Due: none

fixup! Scope `NativeTypesGuesser` to MSVC Windows
  src/components/mime/src/types.cr
Due: none

Try this
  src/components/mime/spec/abstract_types_guesser_test_case.cr
  src/components/mime/spec/native_types_guessuer_spec.cr
  src/components/mime/spec/spec_helper.cr
  src/components/mime/spec/types_spec.cr
Due: none

Try just not sharing the code
  src/components/mime/spec/abstract_types_guesser_test_case.cr
  src/components/mime/spec/magic_types_guesser_spec.cr
  src/components/mime/spec/native_types_guessuer_spec.cr
  src/components/mime/spec/spec_helper.cr
  src/components/mime/spec/types_spec.cr
  src/components/mime/src/types.cr
Due: none

Skip unsupported specs
  src/components/mime/spec/magic_types_guesser_spec.cr
  src/components/mime/spec/native_types_guessuer_spec.cr
Due: none

Final polish
  src/components/mime/spec/abstract_types_guesser_test_case.cr
  src/components/mime/spec/magic_types_guesser_spec.cr
  src/components/mime/src/magic_types_guesser.cr
Due: none

Ensure coverage on `AMIME::Types#supported?`
  src/components/mime/spec/types_spec.cr
Due: none

Add fallback MIME types guesser based on stdlib `MIME` module (athena-framework/athena#546)
  src/components/mime/spec/abstract_types_guesser_test_case.cr
  src/components/mime/spec/magic_types_guesser_spec.cr
  src/components/mime/spec/native_types_guessuer_spec.cr
  src/components/mime/spec/types_spec.cr
  src/components/mime/src/athena-mime.cr
  src/components/mime/src/magic_types_guesser.cr
  src/components/mime/src/native_types_guesser.cr
  src/components/mime/src/types.cr
Due: none

Leverage new `AMIME::Types` type (athena-framework/athena#545)
  src/components/framework/shard.yml
  src/components/framework/src/binary_file_response.cr
  src/components/validator/shard.yml
  src/components/validator/src/constraints/file.cr
Due: framework, validator

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
