Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

codecov.yml:

comment:
    layout: "condensed_header, flags, components, condensed_files, condensed_footer"

component_management:
  individual_components:
    - component_id: clock_component
      name: clock
      paths:
        - src/components/clock/**
    - component_id: console_component
      name: console
      paths:
        - src/components/console/**
    - component_id: dependency_injection_component
      name: dependency_injection
      paths:
        - src/components/dependency_injection/**
    - component_id: dotenv_component
      name: dotenv
      paths:
        - src/components/dotenv/**
    - component_id: event_dispatcher_component
      name: event_dispatcher
      paths:
        - src/components/event_dispatcher/**
    - component_id: framework_component
      name: framework
      paths:
        - src/components/framework/**
    - component_id: image_size_component
      name: image_size
      paths:
        - src/components/image_size/**
    - component_id: mercure_component
      name: mercure
      paths:
        - src/components/mercure/**
    - component_id: negotiation_component
      name: negotiation
      paths:
        - src/components/negotiation/**
    - component_id: routing_component
      name: routing
      paths:
        - src/components/routing/**
    - component_id: serializer_component
      name: serializer
      paths:
        - src/components/serializer/**
    - component_id: spec_component
      name: spec
      paths:
        - src/components/spec/**
    - component_id: validator_component
      name: validator
      paths:
        - src/components/validator/**

Allow manually auto-configuring types
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
Due: dependency_injection

Improve spec coverage a bit
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
Due: dependency_injection

Allow manually auto-configuring types (athena-framework/athena#689)
  src/components/dependency_injection/spec/compiler_passes/process_auto_configurations_spec.cr
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/dependency_injection/src/compiler_passes/process_autoconfigure_annotations.cr
Due: dependency_injection

Checkpoint
  src/components/clock/src/athena-clock.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/ext/clock.cr
  src/components/framework/src/ext/validator.cr
Due: clock, framework

Fix macro code coverage output file writing on windows
  .changes/unreleased/spec-Fixed-20260411-103958.yaml
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/methods.cr
Due: spec

Leverage `Path` instead of `File.join`
  src/components/spec/spec/methods_spec.cr
Due: spec

Fix macro code coverage output file writing on windows (athena-framework/athena#696)
  .changes/unreleased/spec-Fixed-20260411-103958.yaml
  src/components/spec/spec/methods_spec.cr
  src/components/spec/src/methods.cr
Due: spec

Fix format CI job Fix formatting
  justfile
  src/components/mime/src/encoder/quoted_printable_mime_header.cr
Due: none

Formatting fix (athena-framework/athena#697)
  justfile
  src/components/mime/src/encoder/quoted_printable_mime_header.cr
Due: none

Upgrade various GHAs Upgrade python deps
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/ci.yml
  .github/workflows/sync.yml
  .gitignore
  justfile
  uv.lock
Due: none

Dep upgrades (#698)
  .github/workflows/build_and_publish_docs.yml
  .github/workflows/ci.yml
  .github/workflows/sync.yml
  .gitignore
  justfile
  uv.lock
Due: none

Add support for structured MIME suffixes
  .ameba.yml
  src/components/http/spec/request_spec.cr
  src/components/http/src/request.cr
Due: none

Add support for structured MIME suffixes (athena-framework/athena#700)
  .ameba.yml
  src/components/http/spec/request_spec.cr
  src/components/http/src/request.cr
Due: none

ENV vars are read in automatically now during `changie new`
  justfile
Due: none

Fixup for un-released shards
  .changes/http-kernel/v0.1.0.md
  .changes/http/v0.1.0.md
  .changes/mercure-bundle/v0.1.0.md
  .changes/mercure/.gitkeep
  .changes/mercure/v0.1.0.md
  .changie.yaml
Due: none

Merge in un-released shards
  src/bundles/mercure/CHANGELOG.md
  src/components/http/CHANGELOG.md
  src/components/http_kernel/CHANGELOG.md
  src/components/mercure/CHANGELOG.md
Due: mercure

Bump `clock` component
  .changes/clock/v0.3.0.md
  .changes/unreleased/clock-Removed-20260110-105649.yaml
  src/components/clock/CHANGELOG.md
  src/components/clock/docs/README.md
  src/components/clock/shard.yml
  src/components/clock/src/athena-clock.cr
Due: clock

Bump `console` component
  .changes/console/v0.4.3.md
  .changes/unreleased/console-Added-20251229-185547.yaml
  src/components/console/CHANGELOG.md
  src/components/console/shard.yml
  src/components/console/src/athena-console.cr
Due: console

Bump `dependency-injection` component
  .changes/dependency-injection/v0.4.5.md
  .changes/unreleased/dependency-injection-Added-20251228-221541.yaml
  .changes/unreleased/dependency-injection-Added-20251228-222303.yaml
  .changes/unreleased/dependency-injection-Added-20260104-193553.yaml
  .changes/unreleased/dependency-injection-Added-20260308-213013.yaml
  .changes/unreleased/dependency-injection-Changed-20251229-211019.yaml
  .changes/unreleased/dependency-injection-Changed-20251231-130654.yaml
  .changes/unreleased/dependency-injection-Fixed-20251227-144134.yaml
  .changes/unreleased/dependency-injection-Fixed-20251229-221340.yaml
  .changes/unreleased/dependency-injection-Fixed-20260104-163605.yaml
  .changes/unreleased/dependency-injection-Fixed-20260104-174534.yaml
  .changes/unreleased/dependency-injection-Fixed-20260104-202205.yaml
  .changes/unreleased/dependency-injection-Fixed-20260221-115645.yaml
  .changes/unreleased/dependency-injection-Fixed-20260308-212748.yaml
  src/components/dependency_injection/CHANGELOG.md
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/src/athena-dependency_injection.cr
Due: dependency_injection

Bump `event-dispatcher` component
  .changes/event-dispatcher/v0.4.1.md
  .changes/unreleased/event-dispatcher-Changed-20251229-211019.yaml
  .changes/unreleased/event-dispatcher-Fixed-20260103-195645.yaml
  src/components/event_dispatcher/CHANGELOG.md
  src/components/event_dispatcher/shard.yml
  src/components/event_dispatcher/src/athena-event_dispatcher.cr
Due: event_dispatcher

Bump `routing` component
  .changes/routing/v0.2.0.md
  .changes/unreleased/routing-Added-20260110-132850.yaml
  .changes/unreleased/routing-Changed-20260102-171019.yaml
  .changes/unreleased/routing-Changed-20260110-140303.yaml
  src/components/routing/CHANGELOG.md
  src/components/routing/docs/README.md
  src/components/routing/shard.yml
  src/components/routing/src/athena-routing.cr
Due: routing

Bump `serializer` component
  .changes/serializer/v0.4.3.md
  .changes/unreleased/serializer-Changed-20251229-211019.yaml
  .changes/unreleased/serializer-Removed-20260131-133726.yaml
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
Due: serializer

Bump `spec` component
  .changes/spec/v0.4.2.md
  .changes/unreleased/spec-Added-20251229-105220.yaml
  .changes/unreleased/spec-Added-20260311-224134.yaml
  .changes/unreleased/spec-Added-20260312-213746.yaml
  .changes/unreleased/spec-Fixed-20260221-115645.yaml
  .changes/unreleased/spec-Fixed-20260310-184832.yaml
  .changes/unreleased/spec-Fixed-20260411-103958.yaml
  src/components/spec/CHANGELOG.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Due: spec

Bump `validator` component
  .changes/unreleased/validator-Added-20251110-112834.yaml
  .changes/unreleased/validator-Changed-20251110-011030.yaml
  .changes/unreleased/validator-Changed-20251110-101116.yaml
  .changes/validator/v0.5.0.md
  src/components/validator/CHANGELOG.md
  src/components/validator/docs/README.md
  src/components/validator/shard.yml
  src/components/validator/src/athena-validator.cr
Due: validator

Bump `framework` component
  .changes/framework/v0.22.0.md
  .changes/unreleased/framework-Changed-20251226-230941.yaml
  .changes/unreleased/framework-Changed-20251227-184023.yaml
  .changes/unreleased/framework-Changed-20260103-131103.yaml
  .changes/unreleased/framework-Changed-20260103-223730.yaml
  .changes/unreleased/framework-Fixed-20260114-114042.yaml
  .changes/unreleased/framework-Fixed-20260221-115645.yaml
  docs/getting_started/README.md
  src/components/framework/CHANGELOG.md
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
Due: framework

Refresh shard dependencies
  src/components/console/shard.yml
  src/components/framework/shard.yml
Due: console, framework

Adjust min `crystal` supported version
  src/bundles/mercure/shard.yml
  src/components/clock/shard.yml
  src/components/contracts/shard.yml
  src/components/framework/shard.yml
  src/components/http/shard.yml
  src/components/http_kernel/shard.yml
  src/components/mime/shard.yml
  src/components/serializer/shard.yml
Due: clock, framework, serializer

Update UPGRADING.md
  src/components/clock/UPGRADING.md
Due: clock

Update `clock` component upgrading guide (athena-framework/athena#702)
  src/components/clock/UPGRADING.md
Due: clock

Support polymorphic generic event listeners
  .changes/unreleased/event-dispatcher-Changed-20260502-225424.yaml
  src/components/event_dispatcher/spec/event_dispatcher_spec.cr
  src/components/event_dispatcher/src/callable.cr
  src/components/event_dispatcher/src/event.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
Due: event_dispatcher

Support polymorphic generic event listeners (athena-framework/athena#703)
  .changes/unreleased/event-dispatcher-Changed-20260502-225424.yaml
  src/components/event_dispatcher/spec/event_dispatcher_spec.cr
  src/components/event_dispatcher/src/callable.cr
  src/components/event_dispatcher/src/event.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
Due: event_dispatcher

Remove git workaround
  .github/workflows/sync.yml
Due: none

Remove git workaround (#708)
  .github/workflows/sync.yml
Due: none

Fix remove `self` reference in top-level method
  src/components/framework/spec/ext/routing/annotation_route_loader_spec.cr
Due: framework

Upgrade `ameba` to fix build error
  .ameba.yml
  justfile
  shard.yml
  src/components/framework/src/listeners/cors.cr
  src/components/routing/src/request_context.cr
Due: framework, routing

Upgrade `ameba` to fix CI (athena-framework/athena#722)
  .ameba.yml
  justfile
  shard.yml
  src/components/framework/src/listeners/cors.cr
  src/components/routing/src/request_context.cr
Due: framework, routing

Fix remove `self` reference in top-level method (athena-framework/athena#721)
  src/components/framework/spec/ext/routing/annotation_route_loader_spec.cr
Due: framework

Update build_and_publish_docs.yml
  .github/workflows/build_and_publish_docs.yml
Due: none

Fix nightly CI
  src/components/console/spec/helper/progress_bar_spec.cr
  src/components/http/src/athena-http.cr
  src/components/mercure/src/athena-mercure.cr
  src/components/routing/src/routing_handler.cr
Due: console, mercure, routing
