Repository athena-framework/athena: changes, and which Codecov flags are due for each by the changed paths.
All: clock, console, dependency_injection, dotenv, event_dispatcher, framework, image_size, mercure, negotiation, routing, serializer, spec, validator

Refactor how the `ATH::Action` for a given request is resolved (athena-framework/athena#653)
  src/components/framework/spec/ext/routing/annotation_route_loader_spec.cr
  src/components/framework/spec/route_handler_spec.cr
  src/components/framework/src/action_resolver.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/controller_resolver.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
  src/components/framework/src/ext/routing/redirectable_url_matcher.cr
  src/components/framework/src/route_handler.cr
Due: framework

Squashed 'src/components/http_kernel/' content from commit 85fa81aa
  .editorconfig
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/README.md
  mkdocs.yml
  shard.yml
  spec/spec_helper.cr
  src/athena-COMPONENT_NAME.cr
Due: none

Scaffold `http-kernel` component
  .changie.yaml
  README.md
  codecov.yml
  docs/README.md
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/components/http_kernel/CHANGELOG.md
  src/components/http_kernel/LICENSE
  src/components/http_kernel/README.md
  src/components/http_kernel/docs/README.md
  src/components/http_kernel/mkdocs.yml
  src/components/http_kernel/shard.yml
  src/components/http_kernel/spec/spec_helper.cr
  src/components/http_kernel/src/athena-COMPONENT_NAME.cr
  src/components/http_kernel/src/athena-http_kernel.cr
Due: none

fixup! Scaffold `http-kernel` component
  src/components/http_kernel/README.md
  src/components/http_kernel/shard.yml
Due: none

Scaffold `http-kernel` component (athena-framework/athena#654)
  .changie.yaml
  README.md
  codecov.yml
  docs/README.md
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/components/http_kernel/CHANGELOG.md
  src/components/http_kernel/LICENSE
  src/components/http_kernel/README.md
  src/components/http_kernel/docs/README.md
  src/components/http_kernel/mkdocs.yml
  src/components/http_kernel/shard.yml
  src/components/http_kernel/spec/spec_helper.cr
  src/components/http_kernel/src/athena-COMPONENT_NAME.cr
  src/components/http_kernel/src/athena-http_kernel.cr
Due: none

Refactor how annotations are fetched off an action/parameter
  .changes/unreleased/framework-Changed-20260103-131103.yaml
  docs/getting_started/configuration.md
  docs/why_athena.md
  src/components/framework/UPGRADING.md
  src/components/framework/spec/controller/value_resolvers/query_parameter_spec.cr
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/controller/value_resolvers/time_spec.cr
  src/components/framework/spec/controllers/argument_resolver_controller.cr
  src/components/framework/spec/controllers/custom_annotation_controller.cr
  src/components/framework/spec/listeners/view_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/action.cr
  src/components/framework/src/annotation_resolver.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/parameter_metadata.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/query_parameter.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/time.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
  src/components/framework/src/ext/routing/redirectable_url_matcher.cr
  src/components/framework/src/listeners/view.cr
Due: framework

Refactor how annotations are fetched off an action/parameter (athena-framework/athena#655)
  .changes/unreleased/framework-Changed-20260103-131103.yaml
  docs/getting_started/configuration.md
  docs/why_athena.md
  src/components/framework/UPGRADING.md
  src/components/framework/spec/controller/value_resolvers/query_parameter_spec.cr
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/controller/value_resolvers/time_spec.cr
  src/components/framework/spec/controllers/argument_resolver_controller.cr
  src/components/framework/spec/controllers/custom_annotation_controller.cr
  src/components/framework/spec/listeners/view_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/action.cr
  src/components/framework/src/annotation_resolver.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/parameter_metadata.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/query_parameter.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/time.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
  src/components/framework/src/ext/routing/redirectable_url_matcher.cr
  src/components/framework/src/listeners/view.cr
Due: framework

Fix compatibility with `ACTR::EventDispatcher::Event` based event types
  .changes/unreleased/event-dispatcher-Fixed-20260103-195645.yaml
  src/components/event_dispatcher/spec/compiler_spec.cr
  src/components/event_dispatcher/spec/event_dispatcher_spec.cr
  src/components/event_dispatcher/src/annotations.cr
  src/components/event_dispatcher/src/callable.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
  src/components/event_dispatcher/src/event_dispatcher_interface.cr
  src/components/event_dispatcher/src/spec.cr
Due: event_dispatcher

fixup! Fix compatibility with `ACTR::EventDispatcher::Event` based event types
  src/components/framework/src/commands/debug_event_dispatcher.cr
  src/components/framework/src/ext/console/descriptor/descriptor.cr
  src/components/framework/src/ext/console/descriptor/text.cr
Due: framework

Fix compatibility with `ACTR::EventDispatcher::Event` based event types (athena-framework/athena#656)
  .changes/unreleased/event-dispatcher-Fixed-20260103-195645.yaml
  src/components/event_dispatcher/spec/compiler_spec.cr
  src/components/event_dispatcher/spec/event_dispatcher_spec.cr
  src/components/event_dispatcher/src/annotations.cr
  src/components/event_dispatcher/src/callable.cr
  src/components/event_dispatcher/src/event_dispatcher.cr
  src/components/event_dispatcher/src/event_dispatcher_interface.cr
  src/components/event_dispatcher/src/spec.cr
  src/components/framework/src/commands/debug_event_dispatcher.cr
  src/components/framework/src/ext/console/descriptor/descriptor.cr
  src/components/framework/src/ext/console/descriptor/text.cr
Due: event_dispatcher, framework

Checkpoint
  docs/bundle_reference.md
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/bundles/mercure/shard.yml
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/components/mercure-bundle/README.md
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure-bundle/src
Due: none

Checkpoint
  .gitignore
  justfile
  src/bundles/mercure/shard.yml
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/components/mercure-bundle/shard.yml
  src/components/mercure/src/discovery.cr
Due: mercure

Fix `http_kernel` dep versions
  src/components/http_kernel/shard.yml
Due: none

Fix issue with using multiple extensions when one has a nested schema
  .changes/unreleased/dependency-injection-Fixed-20260104-163605.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
Due: dependency_injection

Fix issue with using multiple extensions when one has a nested schema (athena-framework/athena#658)
  .changes/unreleased/dependency-injection-Fixed-20260104-163605.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
Due: dependency_injection

Fix service argument validation errors overriding schema validation errors
  .changes/unreleased/dependency-injection-Fixed-20260104-174534.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
Due: dependency_injection

Fix service argument validation errors overriding schema validation errors (athena-framework/athena#659)
  .changes/unreleased/dependency-injection-Fixed-20260104-174534.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/validate_arguments.cr
Due: dependency_injection

Add ability for aliases to take constructor parameter names into account
  .changes/unreleased/dependency-injection-Added-20260104-193553.yaml
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/src/annotations.cr
  src/components/dependency_injection/src/compiler_passes/analyze_service_references.cr
  src/components/dependency_injection/src/compiler_passes/auto_wire.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/inline_service_definitions.cr
  src/components/dependency_injection/src/compiler_passes/process_aliases.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
  src/components/dependency_injection/src/service_container.cr
Due: dependency_injection

Add ability for aliases to take constructor parameter names into account (athena-framework/athena#660)
  .changes/unreleased/dependency-injection-Added-20260104-193553.yaml
  src/components/dependency_injection/spec/compiler_passes/auto_wire_spec.cr
  src/components/dependency_injection/spec/compiler_passes/define_getters_spec.cr
  src/components/dependency_injection/spec/compiler_passes/process_aliases_spec.cr
  src/components/dependency_injection/src/annotations.cr
  src/components/dependency_injection/src/compiler_passes/analyze_service_references.cr
  src/components/dependency_injection/src/compiler_passes/auto_wire.cr
  src/components/dependency_injection/src/compiler_passes/define_getters.cr
  src/components/dependency_injection/src/compiler_passes/inline_service_definitions.cr
  src/components/dependency_injection/src/compiler_passes/process_aliases.cr
  src/components/dependency_injection/src/compiler_passes/resolve_values.cr
  src/components/dependency_injection/src/service_container.cr
Due: dependency_injection

Fix enum typed `object_schema` types not allowing symbol/number values
  .changes/unreleased/dependency-injection-Fixed-20260104-202205.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
Due: dependency_injection

More test coverage
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
Due: dependency_injection

Fix enum typed `object_schema` types not allowing symbol/number values (athena-framework/athena#661)
  .changes/unreleased/dependency-injection-Fixed-20260104-202205.yaml
  src/components/dependency_injection/spec/compiler_passes/merge_extension_config_spec.cr
  src/components/dependency_injection/src/compiler_passes/merge_extension_config.cr
Due: dependency_injection

Create bundle to integrate `mercure` component into the rest of the framework
  .gitignore
  docs/bundle_reference.md
  justfile
  mkdocs.yml
  shard.dev.yml
  shard.prod.yml
  shard.yml
  src/bundles/mercure/shard.yml
  src/bundles/mercure/src/athena-mercure_bundle.cr
  src/components/http_kernel/shard.yml
  src/components/mercure-bundle/README.md
  src/components/mercure-bundle/docs/README.md
  src/components/mercure-bundle/mkdocs.yml
  src/components/mercure-bundle/shard.yml
  src/components/mercure-bundle/src
  src/components/mercure/spec/authorization_spec.cr
  src/components/mercure/spec/discovery_spec.cr
  src/components/mercure/spec/hub/hub_spec.cr
  src/components/mercure/src/authorization.cr
  src/components/mercure/src/discovery.cr
  src/components/mercure/src/hub/hub.cr
Due: mercure

fixup! Create bundle to integrate `mercure` component into the rest of the framework
  src/bundles/mercure/src/athena-mercure_bundle.cr
Due: none

Improve `spec` component `TestCase` docs a bit
  src/components/spec/src/test_case.cr
Due: spec

Remove `ACLK::Monotonic`
  .changes/unreleased/clock-Removed-20260110-105649.yaml
  src/components/clock/UPGRADING.md
  src/components/clock/spec/monotonic_spec.cr
  src/components/clock/src/athena-clock.cr
  src/components/clock/src/monotonic.cr
Due: clock

Update `console` usages to use `Native` clock
  src/components/console/src/helper/progress_bar.cr
  src/components/console/src/helper/progress_indicator.cr
Due: console

Remove `ACLK::Monotonic` (athena-framework/athena#667)
  .changes/unreleased/clock-Removed-20260110-105649.yaml
  src/components/clock/UPGRADING.md
  src/components/clock/spec/monotonic_spec.cr
  src/components/clock/src/athena-clock.cr
  src/components/clock/src/monotonic.cr
  src/components/console/src/helper/progress_bar.cr
  src/components/console/src/helper/progress_indicator.cr
Due: clock, console

Upgrade `typos` and fix `codecov/test-results-action` deprecation
  .github/workflows/ci.yml
Due: none

Upgrade `typos` and fix `codecov/test-results-action` deprecation (#668)
  .github/workflows/ci.yml
Due: none

Allow query-specific parameters within `ART::Generator::URLGenerator` via special `_query` parameter
  .changes/unreleased/routing-Added-20260110-132850.yaml
  .changes/unreleased/routing-Changed-20260110-140303.yaml
  src/components/framework/spec/view/view_handler_spec.cr
  src/components/routing/UPGRADING.md
  src/components/routing/spec/generator/url_generator_spec.cr
  src/components/routing/src/generator/interface.cr
  src/components/routing/src/generator/url_generator.cr
  src/components/routing/src/route.cr
  src/components/routing/src/router.cr
Due: framework, routing

Allow query-specific parameters within `ART::Generator::URLGenerator` via special `_query` parameter (athena-framework/athena#669)
  .changes/unreleased/routing-Added-20260110-132850.yaml
  .changes/unreleased/routing-Changed-20260110-140303.yaml
  src/components/framework/spec/view/view_handler_spec.cr
  src/components/routing/UPGRADING.md
  src/components/routing/spec/generator/url_generator_spec.cr
  src/components/routing/src/generator/interface.cr
  src/components/routing/src/generator/url_generator.cr
  src/components/routing/src/route.cr
  src/components/routing/src/router.cr
Due: framework, routing

Fix CORS error when using HTTP/2 but providing uppercase header names
  .changes/unreleased/framework-Fixed-20260114-114042.yaml
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/src/bundle.cr
Due: framework

Fix CORS error when using HTTP/2 but providing uppercase header names (athena-framework/athena#670)
  .changes/unreleased/framework-Fixed-20260114-114042.yaml
  src/components/framework/spec/bundle_spec.cr
  src/components/framework/src/bundle.cr
Due: framework

Improve `spec` component `TestCase` docs a bit (athena-framework/athena#666)
  src/components/spec/src/test_case.cr
Due: spec

Fix `HTTPKernel` GH repo name in `shard.yml`
  shard.prod.yml
  shard.yml
Due: none

Fix `HTTPKernel` GH repo name in `shard.yml` (#671)
  shard.prod.yml
  shard.yml
Due: none

Remove `ASR::PropertyMetadata#class` method and generic variable
  .changes/unreleased/serializer-Removed-20260131-133726.yaml
  src/components/serializer/spec/athena-serializer_spec.cr
  src/components/serializer/spec/navigators/serialization_navigator_spec.cr
  src/components/serializer/spec/spec_helper.cr
  src/components/serializer/src/property_metadata.cr
  src/components/serializer/src/serializable.cr
Due: serializer

Path conditions:
  clock: any of: src/components/clock/**
  console: any of: src/components/console/**
  dependency_injection: any of: src/components/dependency_injection/**
  dotenv: any of: src/components/dotenv/**
  event_dispatcher: any of: src/components/event_dispatcher/**
  framework: any of: src/components/framework/**
  image_size: any of: src/components/image_size/**
  mercure: any of: src/components/mercure/**
  negotiation: any of: src/components/negotiation/**
  routing: any of: src/components/routing/**
  serializer: any of: src/components/serializer/**
  spec: any of: src/components/spec/**
  validator: any of: src/components/validator/**
